<article>
	<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/download/iosSign/img_1.jpg')}" class="img_1">
	<p v-cloak class="v_text">V{{v}}</p>
	<div class="btn_wrap" @click="goDown()">
		<span>立即下载App</span>
	</div>
</article>