<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="wap-font-scale" content="no">
<meta property="qc:admins" content="7261517777656512176375" />

<meta name="keywords" content="星光直播,人气直播,美女直播,女主播,手机直播,美颜直播,土壕直播,直播间,才艺直播,秀场"/>
<meta name="description" content="土豪最爱看的美女直播.一个美颜效果最好的聚集超高颜值明星大咖、美女帅哥、热门网红、校花校草、逗比萌妹的手机直播社交平台" />
<meta name="baidu-site-verification" content="ulQb1ppmog" />

<link rel="shortcut icon" href="//static.guojiang.tv/mobile/img/common/title_icon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="//static.guojiang.tv/mobile/img/common/logo_1.png" sizes="144x144">

<title><%= app.pageTitle %></title>

<script type="text/javascript">
var _czc = _czc || [];
_czc.push(['_setAccount', '1255976554']);
</script>
</head>

<body>
    <!--[if lt IE 9]>
      <p class="browsehappy">您正使用过时的浏览器访问，可能有安全风险。建议您<a href="//browsehappy.osfipin.com/#" target="_balnk">升级浏览器</a>来获得更好的用户体验，发现一个全新的
      星光直播-真的能撩到主播的直播
      </p>
      <div class="update_browser_wrap">
          <span class="mask" style="background: #000!important;z-index:99999;"></span>
          <div class="content"style="z-index:999999;">
              <p>hi，您当前的浏览器版本过低，可能存在重大安全漏洞！</p>
              <h3>请立即<a href="//browsehappy.osfipin.com" target="_blank">升级浏览器</a></h3>
              <a href="//se.360.cn/" target="_blank" class="skip_btn">360浏览器</a>
          </div>
      </div>
    <![endif]-->

    <div class="header">
        <div class="inner-c">
            <div class="icons">
                <div class="xg-icon icon-site"></div>
                <div class="xg-icon icon-xg-s"></div>
            </div>
            <div class="btns">
                <span class="xg-btn btn-home" data-target=".header">首页</span>
                <span class="xg-btn btn-product" data-target=".description">产品</span>
                <span class="xg-btn btn-us" data-target=".aboutus">关于我们</span>
                <span class="xg-btn btn-contact" data-target=".contacts">联系我们</span>
            </div>
        </div>
    </div>

    <div class="banners">
        <div class="banner-main">
            <img class="pic" src="${require('../../../../static_guojiang_tv/src/pc/v4/img/business/tuholive/banner.jpg')}" alt="星光直播">
            <div class="xg-icon icon-xg-m"></div>
            <div class="desc">
                <p class="desc-p">真人美女秀场直播间，1对1视频聊天交友</p>
                <p class="desc-p">上班压力大，下班躺在床上看直播，真过瘾</p>
            </div>
        </div>
    </div>

    <!-- section 星光直播 -->
    <div class="description">
        <p class="h-title">星光直播-激情玩乐，直播神器！</p>
        <p class="s-title">不一样的美女直播，给你茶余饭后带来更多有乐趣的时光！</p>
        <div class="desc-box">
            <div class="left-sider">
                <div class="desc-i">
                    <div class="xg-icon icon-girl"></div>
                    <p class="name">海量美女</p>
                    <p class="info">3亿潜在直播用户, 资料健全照片真实人多美女就多!</p>
                </div>
                <div class="desc-i">
                    <div class="xg-icon icon-cown"></div>
                    <p class="name">精准推荐</p>
                    <p class="info">根据兴趣爱好, 个性特征, 多维护推荐帮你快速定位喜欢的女主播</p>
                </div>
                <div class="desc-i">
                    <div class="xg-icon icon-msg"></div>
                    <p class="name">即时聊天</p>
                    <p class="info">可以发送文字，语音，视频，畅快沟通轻松交流，流畅度不输于QQ微信</p>
                </div>
            </div>
            <div class="main-c">
                <img src="${require('../../../../static_guojiang_tv/src/pc/v4/img/business/tuholive/pic1.jpg')}" alt="星光直播">
            </div>
            <div class="right-sider">
                <div class="desc-i">
                    <div class="xg-icon icon-campus"></div>
                    <p class="name">附近的人</p>
                    <p class="info">基于位置的同城直播, 随时随地的搭讪身边的人, 让直播简单随心, 帮你快速找到附近女主播</p>
                </div>
                <div class="desc-i">
                    <div class="xg-icon icon-ocloak"></div>
                    <p class="name">实时提醒</p>
                    <p class="info">谁给您来信, 谁关注了您, 谁看过您实时提醒, 确保,不错过表演和女主播回信</p>
                </div>
                <div class="desc-i">
                    <div class="xg-icon icon-tv"></div>
                    <p class="name">诚信直播</p>
                    <p class="info">我们通过身份验证、人工审核, 诚信等级等机制, 创造真实、安全的直播环境</p>
                </div>
            </div>
        </div>
    </div>

    <!-- section ui -->
    <div class="interface">
        <p class="h-title">星光直播软件界面</p>
        <p class="s-title">在这可以找到很多志同道合的人, 上亿帅男靓女在和你直播!<br/>直播！畅聊！不来星光直播你就out啦!</p>
        <div class="gallery">
            <div class="pic">
                <img src="${require('../../../../static_guojiang_tv/src/pc/v4/img/business/tuholive/screen1.jpg')}" alt="星光直播">
            </div>
            <div class="pic">
                <img src="${require('../../../../static_guojiang_tv/src/pc/v4/img/business/tuholive/screen2.jpg')}" alt="星光直播">
            </div>
            <div class="pic">
                <img src="${require('../../../../static_guojiang_tv/src/pc/v4/img/business/tuholive/screen3.jpg')}" alt="星光直播">
            </div>
        </div>
    </div>

    <!-- section us -->
    <div class="aboutus">
        <p class="h-title">关于我们</p>
        <p class="s-title">星光直播能够让你结识到大批真实的美女主播, 在线看他们的精彩表演<br/>通过手机随时随地与她们互动, 让你的闲暇时光不再寂寞无聊</p>
    </div>

    <!-- section contacts -->
    <div class="contacts">
        <p class="h-title">联系我们</p>
        <div class="contact-m">
            <p class="contact-i">公司信息：深圳市南山区高新南四道w1-A座205</p>
            <p class="contact-i">业务合作、市场合作：f2flive@163.com</p>
            <p class="contact-i">联系电话：0755-26656095</p>
        </div>
    </div>

    <div class="footer">
        <div class="inner-c">
            <span class="copyright">Copyright 2017-2020深圳市时代映像文化传媒有限公司 All rights reserved.</span>
            <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" class="license">粤ICP备16072404号-2</a>
        </div>
    </div>

<script type="text/javascript">
var _hmt = _hmt || [];

(function() {
    function async_load_baidu(){
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?a17ccf7bc3d9be2ed6f415dfe67056f0';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
    }
    function async_load_cnzz(){
        var cz = document.createElement('script')
        cz.src = '//s11.cnzz.com/z_stat.php?id=1255976554&web_id=1255976554'
        cz.async = true
        document.getElementsByTagName('body')[0].appendChild(cz)
    }

    function async_tongdun(){
        _fmOpt = {
            partner: 'guojiang',
            appName: 'guojiang_web',
            token: '<?= md5(Yii::app()->getSession()->getSessionId()) ?>'
        };
        var cimg = new Image(1,1);
        cimg.onload = function() {
            _fmOpt.imgLoaded = true;
        };
        cimg.src = 'https://fp.fraudmetrix.cn/fp/clear.png?partnerCode=guojiang&appName=guojiang_web&tokenId=' + _fmOpt.token;
        var fm = document.createElement('script'); fm.type = 'text/javascript'; fm.async = true;
        fm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.fraudmetrix.cn/fm.js?ver=0.1&t=' + (new Date().getTime()/3600000).toFixed(0);
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fm, s);
    }

    async_load_cnzz();
    async_tongdun();
    async_load_baidu();

})();
</script>

</body>
</html>
