<div id="app" v-cloak>
    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/socialInvite/0_01.jpg')}" alt="">
    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/socialInvite/0_02.jpg')}" alt="">
    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/socialInvite/0_03.jpg')}" alt="">
    <div class="img_wrap">
        <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/socialInvite/0_04.jpg')}" alt="" class="bg">

        <div class="line_1">
            请加官方运营微信号：
            <span>18692255960</span>
            <textarea id="wechatId" readonly="readonly">18692255960</textarea>
            <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/socialInvite/copy.png')}" alt="" 
            class="copy_btn"
            data-clipboard-target="#wechatId"                
            data-clipboard-action="copy">
        </div>
        <P>
            全新交友模块，优质推荐位，海量资源，丰厚奖励，<br>最好玩最赚钱的交友房就等你来！
        </P>
    </div>
</div>
<script src="//static.guojiang.tv/src/mobile/v2/js/component/clipboard.min.js"></script>
