<style>
    body{
        background-color: #f5f5f5;
    }
    img{
        width: 100%;
    }
</style>
<div>
    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/unlockPM/1.jpg')}" alt="解锁条件">
</div>
