<div class="article">
	<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/versionsConflict/1.jpg')}">
	<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/notice/versionsConflict/2.jpg')}">
	<p class="version" v-cloak>当前版本号：V{{version}}</p>
	<P class="desc" v-cloak>{{desc}}</P>
</div>
