<dl>
	<dt>
		Q：语聊是怎么收费的？
	</dt>
	<dd>
		A：随机匹配中，系统每次赠送2分钟免费聊天；2分钟后男用户按50克拉/分钟支付费用。</br>
		<b>*上推荐的用户可以自定义点播价格。</b>
	</dd>


	<dt>
		Q：收益可以提现吗？
	</dt>
	<dd>
		A：可以，从通话中获取的收益，可在“我的-我的收益”内查看，扣除一定的平台分成后可以直接微信提现。
	</dd>

	<dt>
		Q：通话能否保证隐私性？
	</dt>
	<dd>
		A：聊天类似QQ和微信的语音聊天功能，只有通话双方可以获悉内容。
	</dd>

	<dt>
		Q：怎么取消上推荐？
	</dt>
	<dd>
		A：推荐用户可在“我的-联系客服”中联系我们并提交相应申请。
	</dd>
</dl>

<button id="btn">朕知道了</button>