<style type="text/css">
	body{background: #f6f1ea;}
	article{padding:10px 20px;color:#333333;}
	article h2{font-size:16px;text-align: center;margin:20px auto;}
	article p{font-size:13px;line-height: 20px;padding-bottom: 10px;}
</style>

<article>
	<h2>活动规则</h2>
	<p>
	1.用户通过app，分享邀请好友至微信好友或朋友圈，呼朋唤友一起领取现金红包。
	</p>
	<p>
	2.受邀者需在微信或朋友圈中打开邀请好友页面，并在该页面领取新用户红包；红包领取成功后，则下载app，在直播间领取红包弹框里点击“您还有一个20元红包待领取”或者“邀请好友赢取更多现金红包”按钮进入到邀请朋友页面，填写邀请码后即可获得现金红包。如果在邀请好友页面未领取到红包，则下载APP后无法获取红包。
	</p>
	<p>
	3.受邀者需从未注册过app，否则即使在邀请好友页面领取了红包，下载APP后仍无法获得新用户红包，一个新用户只能被邀请一次
	</p>
	<p>
	4.受邀者在app直播间中成功领取到CD红包后，邀请者方可得到邀请现金奖励。
	</p>
	<p>
	5.每个用户通过邀请好友获得的现金红包奖金上限为20元。
	</p>
</article>