<div id="app" @click="goDown()">
    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/top.jpg')}" alt="top" class="top">
    
    <div class="swiper-container" v-cloak>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/1.jpg')}" alt="1">
            </div>
            <div class="swiper-slide">
                <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/2.jpg')}" alt="2">
            </div>
            <div class="swiper-slide">
                <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/3.jpg')}" alt="3">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/comment.jpg')}" alt="comment" class="comment">

    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/business/one/bottom.png')}" alt="bottom" class="bottom">
</div>
