
<div class="content">
	<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/myProps/card.png')}">

	<p class="mp_remain">您有<span v-cloak>{{ cardNum }}张</span>私信卡</p>

	<a href="/myProps/buy.html" class="mp_btn">购买私信卡</a>
</div>

<a href="/myProps/history.html" class="buy_history">购买记录</a>