<div class="wrapper" id="app">
    <header class="banner">
        <div class="banner-nav c_clearfix">
            <a href="#part1"><div class="banner-nav-adult sprite">直播成人展</div></a>
            <a href="#part2"><div class="banner-nav-game sprite">幸运大转盘</div></a>
            <a href="#part3"><div class="banner-nav-welfare sprite">专属礼物</div></a>
        </div>
    </header>
    <a name="part1">
        <div class="part-title part1-title">
            <span class="title-eye sprite"></span>
            <span class="title-txt">展会直播！</span>
        </div>
    </a>
    
    <main class="container">
        <ul class="live-show-box c_clearfix">
            <!-- <li class="live-show">
                <div class="live-avator"></div>
                <div class="live-name">miss静妞</div>
                <div class="live-attend sprite"></div>
            </li> -->
        </ul>
        <ul class="bitch-room c_clearfix">
            <li class="bitch-0"></li>
            <li class="bitch-1"></li>
            <li class="bitch-2"></li>
        </ul>
        <div class="go-girl-room sprite"></div>
        <!-- 幸运转盘 -->
        <a name="part2"></a>
        <div class="part-title">
            <span class="title-eye sprite"></span>
            <span class="title-txt">幸运转盘！</span>       
        </div>
        <div class="lucky-wrap">
            <div class="lucky-turn">
                <div class="lucky-turn-bg"></div>
                <div class="lucky-turn-arrow sprite"></div>
            </div>
            <div class="cawayi">
                <div class="cawayi-count">3</div>
            </div>
            <div class="my-price">
                <span class="my-avator">
                    <img src="">
                </span>
                <div class="my-intro">
                    <p class="my-intro-nickname"></p>
                    <p>已充值：<em class="had-rechar">0</em>元</p>
                    <p>充值倒计时：<em class="js-lefttime">00天00小时00分00秒</em></p>
                    <div class="my-btn">我的中奖记录</div>
                </div>
            </div>
        </div>
        <!-- 抽奖规则 -->
        <div class="price-rule">
            <h2>抽奖规则</h2>
            <p class="rule-item" data-top="1">
                活动时间：<em>2017/09/19 12:00:00--09/24 23:59:59</em>，活动期间内，累计充值每满1000元人民币，即可获得一次抽奖机会。转盘活动时间截止至<em>09/25 12:00:00</em>，请及时使用您的抽奖机会。
            </p>
            <p class="rule-item" data-top="2">
                中奖后，请填写联系方式，方便奖品寄出，未填写联系方式或联系方式不详的，请在“我的中奖记录”中补充联系方式或联系客服，否则视为放弃奖品。
            </p>
            <p class="rule-item" data-top="3">
                奖品数量有限，<em>先到先得，送完为止</em>。
            </p>
            <p class="rule-item" data-top="4">
                奖品将在活动结束后7-30个工作日内发放。
            </p>
        </div>
        <!-- 中奖记录 -->
        <div class="price-record">
            <div class="record-head sprite"></div>
            <div class="record-wrap">
                <div class="record-th"><span>中奖用户</span><span>获得奖品</span></div>
                <div class="record-container">
                    <ul class="record-box">
                        <!-- <li class="record-item c_clearfix">
                            <span class="record-name">杰西卡土豪</span>
                            <span class="record-gift">女神海报</span>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- 专属礼物 -->
        <a name="part3"></a>
        <div class="part-title">
            <span class="title-eye sprite"></span>
            <span class="title-txt">专属礼物！</span>       
        </div>
        <ul class="owner c_clearfix">
            <li class="owner-gift owner-gift-1" data-top="01">
                <div class="owner-img owner-img-2 sprite"></div>
                <div class="owner-gift-intro">
                    <p><em class="red-font">滑滑套</em></p>
                    <p><em class="red-font">9900</em>克拉</p>
                </div>
            </li>
            <li class="owner-gift owner-gift-2" data-top="02">
                <div class="owner-img owner-img-1 sprite"></div>
                <div class="owner-gift-intro">
                    <p><em class="red-font"> 开心杯</em></p>
                    <p><em class="red-font">19900</em>克拉</p>
                </div>
            </li>
            <li class="owner-gift owner-gift-3" data-top="03">
                <div class="owner-img owner-img-3 sprite"></div>
                <div class="owner-gift-intro">
                    <p><em class="red-font">快乐油</em></p>
                    <p><em class="red-font">29900</em>克拉</p>
                </div>
            </li>
        </ul>
        <div class="footer">
            <p><em class="red-font">2017/09/22--09/25</em>期间，在<em class="red-font">活动直播间</em>内上线3个活动专属礼物。</p>
            <p>用户在直播间每送出1个活动专属礼物，都可以获得对应实物。</p>
            <p>用户送出专属礼物后，请及时与客服联系，填写联系方式，方便礼品寄出，未回复客服信息的，视为放弃礼品。</p>
            <p>礼品将在活动结束后7-30个工作日内发放。</p>
        </div>
        <p class="foot-declar">本活动最终解释权归星光直播所有</p>
    </main>
    <!-- 我的中奖记录 -->
    <div class="cover-bg js-my-record">
        <div class="win-record">
            <div class="win-head sprite"></div>
            <div class="win-wrap">
                <div class="win-tips win-item">
                    <span>抽奖时间</span>
                    <span>获奖礼品</span>
                    <span>兑奖进度</span>
                </div>
                <div class="win-home">
                    <ul class="win-container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 表单 -->
    <div class="cover-bg js-input-msg">
        <form class="input-wrapper">
            <input type="text" class="input-item js-username" placeholder="收货人姓名">
            <input type="text" class="input-item js-phone" placeholder="手机号码">
            <input type="text" class="input-item js-address" placeholder="收货地址">
            <p class="input-tips">请放心填写，我们会为您保密隐私信息！</p>
            <div class="input-submit c_clearfix">
                <div class="reset-btn">放弃奖励</div>
                <div class="submit-btn">提交</div>
            </div>
        </form>
    </div>
    <!-- 提示 -->
    <div class="cover-bg js-tips">
        <div class="tips-content"></div>
    </div>
    <!-- 是否确认放弃奖励 -->
    <div class="cover-bg js-giveup">
        <div class="giveup-wrap">
            <p class="tips-txt">您确定要放弃奖励吗？</p>
            <div class="giveup-btn c_clearfix">
                <div class="giveup-no">不放弃</div>
                <div class="giveup-sure">放弃</div>
            </div>
        </div>
    </div>
</div>

<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '小姐姐带你探索两性奥秘！',
        content: '根本来不及马赛克！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/customized/share.png")}'
    });
</script>