<article>
	<div id="app">
        <div class='top' data-hash="1">
            <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/anchorConvene/top.jpg')}" alt="">
        </div>
        <div class='begin'>
            <div class="b_title title">
                <h3 class='rhombus'>人气直播主播招募第三期正式开始！</h3>
            </div>
            <div class="txt">
                <p>
            如果你有沉鱼落雁闭月羞花之貌, 那么恭喜你, 你就是我们这一批要招募的主播类型。在这个看脸的世界里, 你绝对会是那道靓丽的风景线! 如果你早已习惯用金嗓子来征服观众,那么就不要再浪费你的才华, 来人气直播享受万众瞩目吧!
            <br/>颜值和歌声将会是这一期主播招募的主题, 我们将会提供超具吸引力的扶持政策, 还有更多的优质推荐位, 期待你的加入!</p>
            </div>
            
        </div>
        <div class="details">
            <div class="box_1">
                <div class="d_title_1 bg"></div>
                <p>2017.07.13-2017.09.13</p>
            </div>
            <div class="box_2">
                <div class="d_title_2 bg"></div>
                <div class="d_img">
                    <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/anchorConvene/figure.jpg')}" alt="">
                </div>
            </div>
            <div class="box_3">
                <div class="d_title_3 bg"></div>
                <div class="txt">
                    <p>
                    1<span class='color_txt'>申请颜值、唱歌类主播</span>, 请联系管理员qq3560770935, 
                    并提交一段视频（请勿用动画特效功能）+主播ID。
                </p>
                <p>
                    2<span class='color_txt'>申请热舞、才艺类主播</span>, 请联系管理员qq3560770935,
                    并提交一段2-3分钟的跳舞视频（视频需要清晰, 看得到面部表情）+主播ID。
                </p>
                <p>
                    3 &nbsp;&nbsp;视频审核是否通过，当天请等候管理员通知。
                </p>
                </div>
            </div>
            <div class="box_4">
                <div class="d_title_4 bg"></div>
                <div class="txt">
                    <p>1<span class='color_txt'> 颜值、唱歌类主播待遇</span>：审核通过的颜值、唱歌类主播，完成相应关注数条件或者礼物流水条件（礼物提成比例最高可达67%），将会拥有2000-6000的保底工资，超额完成任务还会有增发奖金。我们将会提供新人主播推荐位，表现优异者还可获得签约资格，享受官方长期扶持。</p>
                    <p>2<span class='color_txt'> 热舞、才艺类主播待遇</span>: 审核通过的热舞、才艺类主播，完成相应的条件，会享有4000-10000的保底工资，优质的舞者可享受热门官方推荐，表现优异者可以获得签约资格，并有丰厚的奖金支持，超额完成任务会有2000RMB的增发奖金。人气最高、礼物最多、时长最长的主播，分别会获得2000人民币的奖励。更多详情，请联系管理员。</p>
                </div>
            </div>
        </div>
        <div class='notice'>
            <div class="n_title title">
                <h3 class='rhombus'>注意事项</h3>
            </div>
            <div class="txt">
                <p>1.已通过审核的主播扶持期为两个月，只有签约主播才能享有长期的扶持。</p>
                <p>2.直播期间禁止任何挂机挂录像转播其他平台，以及违反直播平台规定的行为。</p>
                <p>3.严禁主播作弊行为（包括增加假关注数等），一经发现将直接取消活动资格。</p>
                <p>4.本活动最终解释权归人气直播平台所有。</p>
            </div>
        </div>
    </div>
</article>

<script>
var gjShareParam = JSON.stringify({
            title: '人气主播招募令第三期！',
            content: '有颜就可以任性！我还要会唱歌的你！',
            link: location.href,
            imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/anchorConvene/share.jpg")}'
        });
</script>