<div class="wrapper">
    <canvas width="300" height="500"></canvas>
   <div class="banner"></div>
   <div class="banner-gift">
       <div class="gift-wrap clearfix">
           <div class="gift-wrap-half clearfix">
               <div class="gift-wrap-left">
                   <p class="banner-txt">姜饼屋</p>
                   <p class="banner-txt">2999克拉/个</p>
                   <div class="banner-btn-wrap clearfix">
                       <div class="prev-view sprite" data-id="0"></div>
                       <div class="buy-gift sprite" data-id="0"></div>
                   </div>
               </div>
           </div>
           <div class="gift-wrap-half clearfix">
               <div class="gift-wrap-right">
                   <p class="banner-txt">雪人派对</p>
                   <p class="banner-txt">6666克拉/个</p>
                   <div class="banner-btn-wrap clearfix">
                       <div class="prev-view sprite" data-id="1"></div>
                       <div class="buy-gift sprite" data-id="1"></div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <section class="anchor-part">
       <div class="sort-head sprite"></div>
       <div class="sort-table anchor-table">
            <!-- 背景挂坠 -->
            <div class="bg-little-maozi"></div>
            <div class="bg-little-wazi"></div>

           <div class="table-head">
               <div class="anchor-head head-act sprite js-rank-head" data-id="0">糖衣炮诞</div>
               <div class="user-head head-normal sprite js-rank-head" data-id="1">圣诞骑士</div>
           </div>
           <div class="sort-top clearfix js-sort-rank">
                <!-- <div class="sort-top-0">
                    <div class="top-avator sprite">
                        <img src="" class="avator">
                        <span class="live-status sprite"></span>
                        <span class="avator-no sprite avator-no-0">No.1</span>
                    </div>
                     <div class="top-user-msg">
                         <p class="top-user-nickname">用户昵称用户昵称</p>
                         <p class="top-user-num">送出 88888</p>
                         <div class="attend-btn attend-had sprite">已关注</div>
                     </div>
                </div> -->
           </div>
           <div class="sort-lists">
               <ul class="lists-wrap js-lists-rank">
                  <!--  <li class="lists-item clearfix">
                       <span class="item-index">4</span>
                       <span class="item-avator">
                           <img src="" class="avator">
                           <span class="item-live sprite"></span>
                       </span>
                       <span class="item-nickname">昵称昵称</span>
                       <span class="item-num">送出 9999</span>
                   </li> -->
               </ul>
           </div>
       </div>
       <p class="anchor-part-declar">一次性送出99个“圣诞铃铛”可叮出圣诞祝福哦！</p>
       <div class="act-rules-btn sprite"></div>
   </section>

   <section class="chris-bless">
       <div class="chris-head sprite"></div>
       <div class="sort-table bless-table">

            <!-- 背景挂坠 -->
            <div class="bg-little-maozi"></div>

            <div class="bless-lists">
                <!-- <div class="bless-item">
                    <div class="bless-user">
                        <span class="bless-user-item bless-user-left">大打土豪</span>
                        <span class="bless-user-item bless-user-right">杰西卡</span>
                        <span class="bless-icon sprite"></span>
                    </div>
                    <p class="bless-msg">圣诞节愿望是这个冬天把我的宝宝埋在被窝里， 圣诞老人会满足我的吧！</p>
                </div> -->
            </div>
       </div>
   </section>

   <section class="today-sort">
       <div class="today-head sprite"></div>
       <div class="sort-table today-table">
            <!-- 背景挂坠 -->
            <div class="bg-little-maozi"></div>
       </div>
       <div class="check-log sprite"></div>
   </section>
   <div class="bottom-declar">本活动最终解释权归星光直播所有</div>
</div>
<!-- 查看活动规则 -->
<div class="boxbg prize-boxbg">
    <div class="close sprite"></div>
    <div class="prize-wrap">
        <div class="box-rules-title sprite"></div>
        <p class="boxbg-txt">1.活动时间：2017/12/21 12:00:00—12/26 23:59:59。</p>
        <p class="boxbg-txt">2.活动期间，单个主播直播间每收到3000个“圣诞铃铛”，即可炸出圣诞节红包！快来抢克拉吧！</p>
        <p class="boxbg-txt">3.用户一次性送出99个圣诞铃铛，可触发圣诞特效，并送出祝福，祝福在单个直播间内飘屏展示，并登上活动页面
    “圣诞祝福”榜单。</p>
        <p class="boxbg-txt">4.糖衣炮诞榜单前6名可获得圣诞节礼品，礼品将于活动结束后15个工作日内发放。</p>
        <p class="boxbg-txt">5.每日（00:00:00-23:59:59）收到/送出最多圣诞祝福的前三名主播/用户将获得奖励，奖励将于每日23:59:59下发
    到背包，具体奖励见“今日榜单”，主播奖励活动推荐时间从次日12:00:00起算。</p>
        <p class="boxbg-txt">6.本次活动最终解释权归星光直播所有。</p>
        <div class="prize-box clearfix">
            <div class="prize-box-item">
                <p class="box-item-num">第1名</p>
                <div class="prize-name-wrap">
                    <p class="prize-name">PANDORA</p>
                    <p class="prize-name">缠绕爱心手链</p>
                </div>
            </div>
            <div class="prize-box-item">
                <p class="box-item-num">第2名</p>
                <div class="prize-name-wrap">
                    <p class="prize-name">SWAROVSKI</p>
                    <p class="prize-name">黑天鹅戒指</p>
                </div>
            </div>
            <div class="prize-box-item">
                <p class="box-item-num">第3名</p>
                <div class="prize-name-wrap">
                    <p class="prize-name">飞利浦</p>
                    <p class="prize-name">眼周焕亮仪</p>
                </div>
            </div>
            <div class="prize-box-item">
                <p class="box-item-num">第4、5名</p>
                <div class="prize-name-wrap">
                    <p class="prize-name">飞利浦</p>
                    <p class="prize-name">负离子随身梳</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 查看往期记录 -->
<div class="boxbg log-boxbg">
    <div class="close sprite"></div>
    <div class="log-title sprite"></div>
<!--     <div class="log-lists">
        <p class="log-time">2017/12/22</p>
        <ul>
            <li class="log-item clearfix">
                <span class="log-item-nickname">nikename</span>
                <span class="log-item-get">获得</span>
                <span class="log-item-prize">礼物</span>
            </li>
        </ul>
    </div> -->
    <div class="log-lists-wrap"></div>
</div>

<!-- svg动画 -->
<div class="cover-bg svn-bg"></div>

<!-- toast -->
<div class="cover-bg toast-tips">
    <div class="tips-box"></div>
</div>

<!-- 购买 -->
<div class="cover-bg buy-bomb-box">
    <div class="buy-bomb">
        <span class="close sprite"></span>
        <div class="buy-input">
            购买：
            <input type="text" class="buy-input-num">
            个
        </div>
        <div class="price-box">
            价格：<span class="price-num">0</span>克拉
        </div>
        <div class="buy-gift-sure sprite"></div>
    </div>
</div>
<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '圣诞响叮当',
        content: '快来叮出祝福送给她吧！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/christmas17/share.png?vs=1205")}'
    });
</script>

<script src="//static.guojiang.tv/mobile/js/common/bodymovin.min.js"></script>