<div class="wrapper" id="app">
    <div class="">
      <div class="banner js-banner"></div>
      <div class="banner-txt">
          <span>在<em class="act-month">12</em>月15日 23:59:59之前开启热门宝箱加送10个“上头条” 在12月15日 23:59:59之前开启广告位宝箱加送两天时限！先下手为强！（以开启时间为准。有延时的充值方式无法提前，请计算好充值周期。）</span>
      </div>
      <div class="gift-box-title"></div>
    </div>
    <section class="gift-box-list">
        <div class="box-tree">
            <div class="gift-box gift-box-1 sprite" data-id="1">
                <span class="gift-price">30000</span>
                <div class="box-tips box-tips-1">
                  <h2>热门宝箱</h2>
                  <p>开启条件：累计充值30000</p>
                  <p>此特权将一次性向用户下发<span class="js-three-num">十个</span>“上头条”，礼物将放置于背包中。<em>（此礼物不参与分成）</em></p>
                </div>
            </div>
            <div class="gift-box gift-box-2 sprite" data-id="2">
                <span class="gift-price">50000</span>
                <div class="box-tips box-tips-1">
                  <h2>广告位宝箱</h2>
                  <p>开启条件：累计充值50000</p>
                  <p>
                  此特权将为用户定制一款主页面banner广告，用户可在网页端和移动端选其一摆放。有效期<span class="js-three-day">2</span>天，上线时间由平台安排。移动端广告位置每月限量10个，依据“先到先得”的原则，若移动端数量发放完毕，则广告上在网页端。移动端名额本月还剩下<em class="advertisement-num">0</em>个。<em>（页面不允许含有任何商业广告内容）</em></p>
                </div>
            </div>
            <div class="gift-box gift-box-3 sprite" data-id="3">
                <span class="gift-price">100000</span>
                <div class="box-tips box-tips-1">
                  <h2>礼物宝箱</h2>
                  <p>开启条件：累计充值100000</p>
                  <p>
                      此特权将为用户定制一款定价在50克拉~2000克拉之间的直播间礼物，该礼物无特效。独享期30天，独享期过后平台有权公开售卖该礼物。<em>（使用该礼物需正常购买，礼物符合常规礼物分成方式）</em>
                  </p>
                </div>
            </div>
            <div class="gift-box gift-box-4 sprite" data-id="4">
                <span class="gift-price">200000</span>
                <div class="box-tips box-tips-4">
                    <h2>开屏宝箱</h2>
                    <p>开启条件：累计充值200000</p>
                    <p>
                        此特权将为用户定制一款开启应用时的主播开屏广告，有效期2天，上线时间由平台安排。<em>（平台有权不通过违反国家规定及平台规范的定制内容，页面不允许含有任何商业广告内容）</em>
                    </p>
                </div>
            </div>
            <div class="gift-box gift-box-5 sprite" data-id="5">
                <span class="gift-price">300000</span>
                <div class="box-tips box-tips-5">
                    <h2>特效宝箱</h2>
                    <p>开启条件：累计充值300000</p>
                    <p>
                        此特权将为用户定制一款定价在2999克拉以上的直播间礼物，该礼物有简单特效（参考萌萌喵）。独享期30天，独享期过后平台有权公开售卖该礼物。<em>（使用该礼物需正常购买，礼物符合常规礼物分成方式）</em>
                    </p>
                </div>
            </div>
            <div class="gift-box gift-box-6 sprite" data-id="6">
                <span class="gift-price">400000</span>
                <div class="box-tips box-tips-6">
                    <h2>座驾宝箱</h2>
                    <p>开启条件：累计充值400000</p>
                    <p>
                        此特权将为用户定制一辆虚拟座驾，在用户每次进入直播间时显示座驾特效。独享期30天，独享期过后平台有权公开售卖该礼物。<em>（平台有权多次使用同品牌作为原型）</em>
                    </p>
                </div>
            </div>
            <div class="gift-box gift-box-7 sprite" data-id="7">
                <span class="gift-price">500000</span>
                <div class="box-tips box-tips-7">
                    <h2>终极宝箱</h2>
                    <p>开启条件：累计充值500000</p>
                    <p>
                        此特权为一次活动的冠名权或活动形式的定制权。<em>（成本及技术问题，由平台决定）</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="process-tree">
        </div>
        <div class="game-rule">
            <p class="game-rule-item">
              单个账号月充值金额累计达到开启宝箱条件，即可开启宝箱获得定制特权（只计算用户充值金额，不包含后台下发、返利和用户领取的金额）。开启100%获取特权！
            </p>
            <p class="game-rule-item">
              充值金额计算周期为<span class="js-acttime"></span>；
            </p>
            <p class="game-rule-item">
              手动开启宝箱后，请于宝箱弹框中填入用户信息。此后，官方人员将于2个工作日内与您联系。确认定制需求后，将于7-20个工作日内向您发放定制特权成品。需求一经确认，无法更改。<em class="red-color">（因用户个人原因填写信息错误或者不全，导致无法获得联系，后果由用户承担。若定制特权或者定制活动时间与全平台活动配置相冲突，以平台为先。若用户提出的需求，平台现有技术不支持，则以平台为先。所有定制内容不得包含任何商业广告。）</em>
            </p>
            <p class="game-rule-item">
              <em class="red-color">开启宝箱截止时间为<span class="js-boxend-time"></span></em>，若用户在截止日期前未领取，则视为自动放弃，不再补发；
            </p>
            <p class="game-rule-item">
              部分定制特效（座驾）只能在<em class="red-color">3.3.5及以上版本查看，低于该版本的移动设备将无法看到特效。</em>
            </p>
            <p class="game-rule-item">
              本活动最终解释权归星光直播平台所有。
            </p>
        </div>
        <div class="user-activity">
          <div class="user-avator">
            <img src="">
            <div class="user-msg">
              <p class="load-last-time"><span class="recharge">00.00</span>/500000</p>
              <p class="load-last-time">充值倒计时：<span class="recharge-loadtime"></span></p>
              <div class="my-power sprite">查看我的特权</div>
            </div>
          </div>
        </div>
    </section>
    <section class="foot-box">
      <header class="foot-box-title"></header>
      <div class="foot-container">
        <p class="foot-txt">我们为大额充值用户定制了精美的特权礼物，但如果英雄所见略同，你也钟爱这些礼物怎么办呢？答案是，戳这里，买买买啊！</p>
        <p class="foot-txt">
          当定制礼物过了独享期之后，平台所有用户都可以购买在商城区出售的任何礼物。购买后，礼物将放入您的背包。
        </p>
        <div class="foot-list">
          <div class="list-tap c_clearfix">
            <div class="tap-item tap-active goods-all">全部</div>
            <div class="tap-item js-temp">限定礼物</div>
          </div>
          <div class="scroll-bg">
            <div class="scroll-msg sprite">
                <div class="msg-wrapper">
                </div>
            </div>
          </div>
          <div class="scroll-wrap">
            <ul class="buy-gift-list scroll-content">
            </ul>
          </div>
          <div class="famous-man">敬请期待...</div>
        </div>
      </div>
    </section>
    <footer class="footer-bg"></footer>
</div>

<!-- 预览 -->
<div class="cover-bg">
    <img src="">
</div>

<!-- 弹框 -->
<div class="layout-cover">
    <div class="layout-box">
        <div class="layout-content">
        </div>
        <div class="layout-btn sprite"></div>
        <div class="layout-close">x</div>
    </div>
</div>

<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script src="//static.guojiang.tv/mobile/js/common/bodymovin.min.js?vs=0804"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '你的世界你做主！年底等你爆发！',
        content: '充值开宝箱，100%享受定制特权！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/customized/share.png")}'
    });
</script>
