<div class="wrapper" id="app">
    <div class="banner js-banner">
        <!-- <div class="banner-duration-time"></div> -->
        <div class="periods"></div>
        <div class="deadline-time"></div>
    </div>
    <div class="banner-txt">
        <span>在<em class="act-month"></em>之前开启热门宝箱加送10个“上头条”，在<em class="act-month"></em>之前开启广告位宝箱加送两天时限！先下手为强！（以开启时间为准。有延时的充值方式无法提前，请计算好充值周期。）</span>
    </div>
    <section class="model-wrap">
        <div class="model1-title"></div>
        <div class="model1">
            <ul class="game-rule">
                <li class="game-rule-item">
                    单个账号月充值金额累计达到开启宝箱条件，即可开启宝箱获得定制特权（只计算用户充值金额，不包含后台下发、返利和用户领取的金额）。开启100%获取特权！
                </li>
                <li class="game-rule-item">
                    充值金额计算周期为<span class="js-acttime"></span>；
                </li>
                <li class="game-rule-item">
                    手动开启宝箱后，请于宝箱弹框中填入用户信息。此后，官方人员将于2个工作日内与您联系。确认定制需求后，将于7-20个工作日内向您发放定制特权成品。需求一经确认，无法更改。<em class="red-color">（因用户个人原因填写信息错误或者不全，导致无法获得联系，后果由用户承担。若定制特权或者定制活动时间与全平台活动配置相冲突，以平台为先。若用户提出的需求，平台现有技术不支持，则以平台为先。所有定制内容不得包含任何商业广告。）</em>
                </li>
                <li class="game-rule-item">
                    <em class="red-bold">开启宝箱截止时间为<span class="js-boxend-time"></span></em>，若用户在截止日期前未领取，则视为自动放弃，不再补发；
                </li>
                <li class="game-rule-item">
                    本活动最终解释权归星光直播平台所有。
                </li>
                <div class="touch-box-tips sprite"></div>
            </ul>
            <div class="box-tree"></div>
            <ul class="process-tree"></ul>
            <div class="user-activity">
                <div class="user-avator">
                    <img src="">
                    <div class="user-msg">
                        <p class="load-last-time">
                            <span class="recharge">00.00</span> /
                            <span class="sum-recharge"></span>
                        </p>
                        <p class="load-last-time">充值倒计时：<span class="recharge-loadtime"></span></p>
                        <div class="my-power sprite2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="model-wrap">
        <div class="model2-title"></div>
        <div class="model2 clearfix">
            <p class="gift-txt">我们为大额充值用户定制了精美的特权礼物，但如果英雄所见略同，你也钟爱这些礼物怎么办呢？答案是，戳这里，买买买啊！</p>
            <p class="gift-txt">
                当定制礼物过了独享期之后，平台所有用户都可以购买在商城区出售的任何礼物。购买后，礼物将放入您的背包。
            </p>
            <div class="gift-list">
                <div class="list-tab c_clearfix">
                    <div class="tab-item tab-active goods-all sprite2"></div>
                    <div class="tab-item goods-men sprite2"></div>
                    <div class="search-box">
                        <input type="text" class="search" placeholder="主播ID或礼物名称">
                        <div class="search-icon"></div>
                    </div>
                </div>
                <div class="scroll-bg">
                    <div class="scroll-msg sprite">
                        <div class="msg-wrapper"></div>
                    </div>
                </div>
                <div class="goods-list-wrap">
                    <ul class="buy-gift-list goods-content">
                    </ul>
                </div>
                <div class="famous-man-wrap">
                    <ul class="famous-man-content"></ul>
                </div>
                <!-- 搜索结果 -->
                <div class="search-list-wrap">
                    <ul class="search-list gift-list-block"></ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-bg">本次活动最终解释权归星光直播所有</footer>
</div>
<!-- 预览 -->
<div class="cover-bg">
    <img src="">
</div>
<!-- 弹框 -->
<div class="layout-cover">
    <div class="layout-box">
        <div class="layout-head sprite3"></div>
        <div class="layout-content">
            <input type="text" class="input-num" placeholder="填写购买数量">
            <p class="user-money">消耗：<span><em class="user-money-num"></em>克拉</span></p>
        </div>
        <div class="layout-btn sprite2">取人</div>
        <div class="layout-close sprite3"></div>
    </div>
</div>
<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>