<div class="wrapper" id="app">
<header class="banner"></header>
<section class="container-wrap">
    <div class="container-table">
        <div class="achievement sprite rank-head-act">
            成就榜
        </div>
        <div class="contribution sprite rank-head-normal">
            贡献榜
        </div>
        <div class="anchor-wrap" style="display: block;">
            <div class="container-top js-top-anchor clearfix">
            </div>
            <div class="anchor-msg js-anchor-msg clearfix">
            </div>
            <ul class="sort-wrap js-sort-anchor">
            </ul>
        </div>
        <div class="user-wrap" style="display:  none;">
            <div class="container-top js-top-user clearfix">
            </div>
            <div class="anchor-msg js-user-msg clearfix">
            </div>
            <ul class="sort-wrap js-sort-user">
            </ul>
        </div>
    </div>
</section>
<footer class="festival-foot">
    <div class="foot-head">
    </div>
    <div class="foot-gift">
        <div class="gift-box"></div>
        <div class="foot-bottom-img"></div>
    </div>
</footer>

<div class="cover-bg">
    <div class="rule-content">
        <div class="rule-close sprite"></div>
        <p class="rule-txt">1.活动时间：<em>2017/09/30 12:00:00—10/05 23:59:59</em>。</p>
        <p class="rule-txt">2.活动期间，单个主播直播间每收到3000个“月饼”，即可发出全平台赏月邀请，还能炸出中秋红包哦！快来抢克拉吧！</p>
        <p class="rule-txt">3.主播榜单前8名都可获得中秋祝福礼品，祝福礼品将于活动结束后15个工作日内发放。</p>
        <p class="rule-txt">4.本次活动最终解释权归星光直播所有。</p>
    </div>
</div>

<div class="act-rule sprite"></div>
</div>

<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script src="//static.guojiang.tv/mobile/js/common/bodymovin.min.js?vs=0804"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '月满中秋',
        content: '哥哥，陪我赏月吗？',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/festival/share.png")}'
    });
</script>