<div class="wrapper">
    <div class="recharge js-gorecharge"></div>
    <div class="recharge-btn js-gorecharge"></div>
</div>


<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '星光直播充值感恩回馈',
        content: '星光直播充值回馈，年度感恩星辰之力，最高返10%！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/goRechargePage/share.jpg")}'
    });
</script>