<div class="wrapper">
    <div class="recharge js-gorecharge"></div>
    <div class="recharge-btn js-gorecharge"></div>
</div>


<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '充值感恩回馈季，返利不停！',
        content: '秒杀所有直播平台的返利活动，最高返20%！我们真的不是说说而已！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/goRechargePage/share.jpg")}'
    });
</script>