<!-- <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/share.png')}"> -->

<!-- 王者荣耀巅峰争夺赛 -->
<div class="container">
    <header class="header"></header>
    <div class="head-title">
        <p>是时候比拼真正的手速！俯视各路英雄豪杰！国服第一诸葛亮、国服第一花木兰、杭州第一貂蝉实力上演动作大片。各路英雄即将抵达战场，秀操作、比谁浪的时刻即将开始！还有丰厚现金奖励等你来拿，只要你够强，全场看你秀！人气直播首届王者荣耀巅峰赛，期待你的加入！</p>
        <p>此次报名对所有玩家开放，玩家水平必须达到铂金及以上段位，报名截止后将按照玩家段位排名选取队伍进行比赛！比赛过程中表现优异的选手不仅可获得高额奖金，更有机会获得直接签约的资格！ 还等什么，下一个明星主播就是你！</p>
    </div>
    <!-- 报名须知 -->
    <article class="article">
        <span class="art-title-1 sprite"></span>
        <p class="art-row clearfix">
            <em class="art-icon-1"></em><span>报名时间：2017年5月3日-2017年5月10日；</span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-2"></em><span>报名方式：请加土豪官方报名QQ群477740490，填写报名信息表，具体流程咨询可询问群管理员或土豪客服；</span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-3"></em>
            <span>
                报名表信息：队伍信息+队长信息+联系方式。
            </span>
        </p>
    </article>
    <!-- 比赛奖励 -->
    <article class="article act-2">
        <span class="art-title-2 sprite"></span>
        <p class="art-row clearfix">
            <em class="art-icon-1"></em>
            <span>对抗赛获胜奖励：土豪主播签约资格、专属主播培养机制、推荐位以及优胜队伍泡泡奖励；</span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-2"></em>
            <span>
            总决赛冠军奖励：总奖池10000元人民币，及总决赛冠军MVP奖；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-3"></em>
            <span>
                比赛期间，直播总时长排名第一二三名，及粉丝关注数增长最多的主播都将获得额外的现金奖励。
            </span>
        </p>
        <ul class="act-ul">
            <li class="clearfix">
                <span>
                    <span class="lists-price"></span>
                </span>
                <span>
                    <span class="lists-sort"></span>
                </span>
            </li>
            <li class="clearfix">
                <span>冠军</span>
                <span>10000元</span>
            </li>
            <li class="clearfix">
                <span>亚军</span>
                <span>8000元</span>
            </li>
            <li class="clearfix">
                <span>季军</span>
                <span>5000元</span>
            </li>
            <li class="clearfix">
                <span>总决赛冠军MVP</span>
                <span>2000元</span>
            </li>
            <li class="clearfix">
                <span>直播总时长第一</span>
                <span>2000元</span>
            </li>
            <li class="clearfix">
                <span>直播总时长第二</span>
                <span>1500元</span>
            </li>
            <li class="clearfix">
                <span>直播总时长第三</span>
                <span>1000元</span>
            </li>
            <li class="clearfix">
                <span>粉丝增长第一</span>
                <span>1500元</span>
            </li>
        </ul>
    </article>
    <!-- 比赛规则 -->
    <article class="article">
        <span class="art-title-3 sprite"></span>
        <p class="art-row clearfix">
            <em class="art-icon-1"></em>
            <span>
                比赛客户端：王者荣耀；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-2"></em>
            <span>
                比赛服务器：王者荣耀QQ区（限定ios）；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-3"></em>
            <span>
                比赛版本：比赛服当日最新版本；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-4"></em>
            <span>
                比赛模式：5V5王者峡谷峡谷征召模式；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-5"></em>
            <span>
                比赛胜负由系统判定为准；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-6"></em>
            <span>
                比赛禁选开始至比赛结束，全程不得人为退出游戏，违者视为弃权；若因官方原因导致闪退，两队可进行协商重赛，协商未达成统一意见的，以原比赛成绩为准；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-7"></em>
            <span>
                队伍中只要有1名选手被视为弃权，则全队取消参赛资格；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-8"></em>
            <span>
                任何选手严禁使用各种第三方插件，查实后视为弃权；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-9"></em>
            <span>
                具体赛事细则请参加QQ群477740490；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-10"></em>
            <span>
                小组赛为三局两胜制，除小组赛以外的比赛皆为五局三胜制；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-11"></em>
            <span>
                活动最终解释权归人气直播平台所有。
            </span>
        </p>
    </article>
    <!-- 注意事项 -->
    <article class="article act-4">
        <span class="art-title-4 sprite"></span>
        <p class="art-row clearfix">
            <em class="art-icon-1"></em>
            <span>
                本次比赛为线上比赛；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-2"></em>
            <span>
                报名选手ID不得包含其他平台信息；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-3"></em>
            <span>
                参赛需以团队为报名单位，每支队伍需包含5-6名选手，且指定一名选手为队长；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-4"></em>
            <span>
                为防止抱团现象，一只队伍最多只能有两个平台已通过游戏主播；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-5"></em>
            <span>
                队长在比赛期间，必须开通自己的直播间，比赛和直播同时进行；
            </span>
        </p>
        <p class="art-row clearfix">
            <em class="art-icon-6"></em>
            <span>
                若发现违规行为，立即终止比赛，取消比赛资格。
            </span>
        </p>
    </article>
    <footer class="footer"></footer>
</div>

<script type="text/javascript">
	var gjShareParam = JSON.stringify({
		title: '土豪首届“王者荣耀”巅峰争夺赛开启！',
		content: '丰厚现金奖励、签约主播资格等你来拿！',
		link: location.href,
		imgLink: '${require("../../../../static_guojiang_tv/mobile/v2/img/activity/staticPage/share.png")}'
	})
</script>