<main class="main_box" id="app" v-cloak>
    <div class="ban"></div>
    <div class="wrap">
        <div class="content"></div>
    </div>
</main>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '中秋国庆假期安排',
        content: '中秋国庆假期安排！',
        link: location.href,
        imgLink: ''
    });
</script>
