<main class="main_box" id="app" v-cloak>
	<section class="part-1">
		<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/emotion/1.jpg')}">
		<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/emotion/3.jpg')}">
		<span class="book-btn" v-on:click="book" v-bind:class="{'gary-btn':isLove}">{{stateName}}<i></i></span>
	</section>
</main>

<script>
	var gjShareParam = JSON.stringify({
        title: '充值感恩回馈季',
        content: '最高可返20%，赶紧来看看！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/emotion/share.jpg")}'
    });
</script>
