<div class="wrapper">
    <!-- banner -->
    <header class="banner">
    </header>
    <div class="container">
        <div class="act-intro">
            <div class="act-intro-head">
                <span>星光直播颜值主播招募正式开始！</span>
            </div>
            <p class="act-font">
                舞蹈达人？电竞高手？天籁歌喉？肤白貌美？只要你有想成为大主播的心，我们就给你舞台！入驻星光直播，我们将会为你提供优质的推荐位和高额的奖金。
            </p>
            <p class="act-font">
                I WANT YOU!为你转身，来实现华丽的蜕变吧！
            </p>
        </div>
        <div class="act-content">
            <div class="act-1">
                <div class="act-1-head sprite"></div>
                <div class="act-1-time">2017.12.01-2017.12.31</div>
            </div>
            <div class="act-2">
                <div class="act-2-head sprite"></div>
                <div class="act-2-content">
                    <p class="act-font">
                        1 加星光直播主播招募管理员QQ：3560770935，公会长联
                        系QQ：2782441637, 
                    </p>
                    <p class="act-font">2 <em>保底主播申请</em>考核需要提交1段2-3分钟唱歌视频（视频需要能清晰看到脸部），命名成考核人星光ID号，以视频文件形式发送至管理员QQ。亦可开播审核(审核前请联系管理员）。</p>
                    <p class="act-font">3 审核是否通过，请等候管理员通知。</p>
                </div>
            </div>
            <div class="act-3">
                <div class="act-3-head sprite"></div>
                <div class="act-3-step">才艺>颜值>设备效果>背景</div>
                <div class="act-3-content">
                    <p class="act-font">1 <em>才艺不限：</em>唱歌 乐器 魔术 户外等，有别于普通直播的都可以算作才艺。
                    </p>
                    <p class="act-font">2 <em>颜值：</em>五官清晰端正，请勿素颜直播。</p>
                    <p class="act-font">3 <em>设备效果：</em>背景音乐清晰，画面无过度曝光，打光均匀，拍摄角度适当。</p>
                    <p class="act-font">4 <em>背景：</em>背景干净整洁，可适当点缀。</p>
                </div>
            </div>
            <div class="act-4">
                <div class="act-4-head sprite"></div>
                <div class="act-4-content">
                    <p class="act-font">主播待遇：审核通过的颜值主播，完成相应礼物流水任务，礼物提成比例最高可达67%，将会拥有666-6666的保底工资，超额完成任务还会有1000元奖励。我们将会提供新人主播推荐位，表现优异者还会获得签约资格，享受官方长期扶持。更多详情，请联系管理员。</p>
                </div>
            </div>
        </div>
        <div class="act-foot">
            <div class="act-foot-head"><span>注意事项</span></div>
            <p class="act-font">1 已通过审核主播扶持期为两个月，只有签约主播才能享有长期的扶持。</p>
            <p class="act-font">
                2 直播期间禁止任何挂机挂录像转播其他平台，以及违反直播平台规定的行为。
            </p>
            <p class="act-font">
                3 严禁主播作弊行为，一经发现将直接取消活动资格。
            </p>
            <p class="act-font">
                4 本活动最终解释权归星光直播平台所有。
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '星光颜值主播招募令！',
        content: '推荐位+高额奖金等你来拿！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/recruit/share.jpg")}'
    });
</script>