<div class="wrapper">
    <!-- banner -->
    <header class="banner">
    </header>
    <div class="runway-head sprite"></div>
    <div class="banner-intro">
        <p>吃了狗粮就是我的狗了！</p>
        <p><em>1份狗粮可以跑1米！</em>狗粮越多，跑得越远！前五名的狗子可以获得单身狗专属返利！</p>
        <p>奔跑吧！狗子们!</p>
    </div>
    <!-- 跑道 -->
    <section class="runway">
        <div class="runway-wrap">
            <div class="runway-bg"></div>
            <canvas width="960" height="1350" id="canvas"></canvas>
            <canvas width="320" height="450" id="move-canvas"></canvas>
            <div class="side-bg side-bg-0"></div>
        </div>
        <p class="runway-intro">注：前四个赛段只显示前五名主播,第五赛段显示所有主播。</p>
        <div class="runway-rule sprite"></div>
    </section>
    <!-- 赛事速报 -->
    <section class="competition-report">
        <div class="report-head sprite">
            
        </div>
        <div class="report-top">
            <div class="report-top-lists clearfix">
                <div class="top-avator">
                    <span class="top-avator-live sprite"></span>
                    <span class="top-avator-no avator-no-0 sprite"></span>
                </div>
                <div class="top-anchor-intro">
                    <p class="top-anchor-nickname">昵称昵称</p>
                    <p class="top-anchor-nickname">昵称昵称</p>
                </div>
                <div class="top-intro-btn">+关注</div>
            </div>
            <div class="report-top-lists clearfix">
                <div class="top-avator">
                    <span class="top-avator-live sprite"></span>
                    <span class="top-avator-no avator-no-1 sprite"></span>
                </div>
                <div class="top-anchor-intro">
                    <p class="top-anchor-nickname">昵称昵称</p>
                    <p class="top-anchor-nickname">昵称昵称</p>
                </div>
                <div class="top-intro-btn">+关注</div>
            </div>
            <div class="report-top-lists clearfix">
                <div class="top-avator">
                    <span class="top-avator-live sprite"></span>
                    <span class="top-avator-no avator-no-2 sprite"></span>
                </div>
                <div class="top-anchor-intro">
                    <p class="top-anchor-nickname">昵称昵称</p>
                    <p class="top-anchor-nickname">昵称昵称</p>
                </div>
                <div class="top-intro-btn">+关注</div>
            </div>
        </div>
        <!-- 各个赛段 -->
        <div class="competition-sub">
            <ul>
                <!-- 第五赛段 -->
                <li class="competition-sub-4" data-id="4">
                    <div class="sub-head sub-head-close line-border">第五赛段</div>
                    <div class="sub-content clearfix">
                        <p class="no-dog line-border">啊哦~还没有狗子跑到这里！ </p>
                    </div>
                </li>
                <!-- 第四赛段 -->
                <li class="competition-sub-3" data-id="3">
                </li>
                <!-- 第三赛段 -->
                <li class="competition-sub-2" data-id="2">
                    <div class="sub-head sub-head-close line-border">第三赛段</div>
                </li>
                <!-- 第二赛段 -->
                <li class="competition-sub-1" data-id="1">
                    <div class="sub-head sub-head-close line-border">第二赛段</div>
                </li>
                <!-- 第一赛段 -->
                <li class="competition-sub-0" data-id="0">
                    <div class="sub-head sub-head-close line-border">第一赛段</div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 大赞助商 -->
    <section class="user-wrap">
        <div class="side-bg side-bg-1"></div>
        <div class="user-wrap-head sprite">
        </div>
        <div class="user-gift">
        </div>
        <div class="user-lists">
            <ul class="user-lists-box">
                <!-- <li class="user-lists-item clearfix">
                    <span class="user-sort">1</span>
                    <span class="user-avator"></span>
                    <div class="user-detail">
                        <p class="user-nickname">昵称昵称</p>
                        <p class="user-num">送出654654个</p>
                        <div class="prize-gift">
                            <span class="prize-font">获得奖励:</span><span class="prize-gift-0 sprite"></span><span class="prize-gift-1 sprite"></span><span class="prize-gift-2 sprite"></span><span class="prize-gift-3 sprite"></span><span class="prize-gift-4 sprite"></span><span class="prize-gift-5 sprite"></span>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
        <p class="tks-support">大赞助商们达标的赞助奖励，将自动下发至您的背包哦！</p>
        <p class="tks-support">感谢您的支持，么么哒~</p>
    </section>
    <p class="compony-declar">本次活动最终解释权归星光直播所有</p>
    <div class="side-bg side-bg-2"></div>
    <!-- 活动规则 -->
    <div class="cover-bg">
        <div class="cover-wrap">
            <div class="act-close sprite"></div>
            <div class="act-rule">
                <div class="act-rule-title sprite"></div>
                <p class="act-rule-font">1.活动时间：2017/11/09 12:00:00--11/13 23:59:59。</p>
                <p class="act-rule-font">2.主播每收到1份“黄金狗粮”，即可在跑道上跑1米。跑道分为五个赛段，前四个赛段只显示该赛段上的前五名主播，第五赛段显示所有进入该赛段的主播。</p>
                <p class="act-rule-font">3.主播收到“黄金狗粮”数量相同的，按照ID降序排名。</p>
                <p class="act-rule-font">4.活动期间内，单个主播直播间每收到3000个“黄金狗粮”，即可炸出单身狗红包！快来抢克拉吧！</p>
                <p class="act-rule-font">5.主播榜单（总榜，非赛段榜单）前5名都可获得单身狗返利，返利将于活动结束后15个工作日内发放。</p>
                <p class="act-rule-font">6.用户累计送出指定数量的狗粮，可获得对应礼物或座驾！</p>
                <p class="act-rule-font">7.本次活动最终解释权归星光直播所有。</p>

                <div class="act-prize sprite"></div>
                <div class="act-table">
                    <div class="act-line clearfix">
                        <div class="act-line-left">名次</div>
                        <div class="act-line-right">返利额度</div>
                    </div>
                    <div class="act-line clearfix">
                        <div class="act-line-left">1</div>
                        <div class="act-line-right">8%</div>
                    </div>
                    <div class="act-line clearfix">
                        <div class="act-line-left">2</div>
                        <div class="act-line-right">7%</div>
                    </div>
                    <div class="act-line clearfix">
                        <div class="act-line-left">3</div>
                        <div class="act-line-right">6%</div>
                    </div>
                    <div class="act-line clearfix">
                        <div class="act-line-left">4</div>
                        <div class="act-line-right">3%</div>
                    </div>
                    <div class="act-line clearfix">
                        <div class="act-line-left">5</div>
                        <div class="act-line-right">3%</div>
                    </div>
                </div>
                <p class="act-rule-font act-foot-font">注：返利数量=主播榜单收入 x 返利额度</p>
                <p class="act-rule-font act-foot-font">返利金额为克拉（非收益），<em>将于活动结束后15个工作日内发放到主播账户内。</em></p>
            </div>
        </div>
    </div>
</div>

<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '进击的11.11！',
        content: '抱紧彼此秀恩爱吧！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/singleDog/share.png")}'
    });
</script>