<!-- 偷心大盗 -->
<div class="container">
    <div class="steal-heart">
        <div class="orderby-wrapper">
            <span class="arrow arrow-left"></span>
            <span class="arrow arrow-right"></span>
            <div class="steal-list">
                <ul class="anchor-list c-clearfix">
                </ul>
            </div>
        </div>
    </div>
    <div class="foot-wrapper">
        <div class="anchor-sort">
            <span class="anchor-head"></span>
            <span class="anchor-title c-clearfix">
                <span class="sort-top">名次</span>
                <span class="sort-name">用户昵称</span>
                <span class="sort-num">礼物数量</span>
            </span>
            <ul class="sort-wrapper js-user-box">
            </ul>
        </div>
        <div class="anchor-sort user-sort">
            <span class="user-head"></span>
            <span class="anchor-title c-clearfix">
                <span class="sort-top">名次</span>
                <span class="sort-name">主播昵称</span>
                <span class="sort-num">礼物数量</span>
            </span>
            <ul class="sort-wrapper js-mod-box">
            </ul>
        </div>
    </div>
</div>

<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script type="text/javascript">
	var gjShareParam = JSON.stringify({
		title: '偷心大盗正在集合！',
		content: '甜心与黄金，史上最甜蜜的炮弹！',
		link: location.href,
		imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/stealHeart/share.jpg")}'
	})
</script>