<link rel="stylesheet" type="text/css" href="//static.guojiang.tv/mobile/v2/css/lib/swiper-4.1.0.min.css">
<link rel="stylesheet" type="text/css" href="//static.guojiang.tv/mobile/v2/css/lib/animate.min.css">

<div class="loading-page slide-0">
    <div class="loading-txt-block">
        加载中<span class="loading-txt"></span>
    </div>
</div>

<!-- mp3 -->
<div class="mp3-img music-ani"></div>
<audio class="bg-music" loop="loop" src="" data-src="//static.guojiang.tv/mobile/v2/img/activity/summary/mp3.mp3"></audio>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/1.jpg">
            <div class="slide-1-b ani" swiper-animate-effect="fadeInLeft"></div>
            <div class="slide-1-a ani" swiper-animate-effect="fadeInRight" swiper-animate-delay="0.6s"></div>
            <div class="slide-1-c">
                <div></div>
            </div>
        </div>
        <div class="swiper-slide slide-2 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/2.jpg">
            <div class="slide-2-a ani" swiper-animate-effect="fadeIn"></div>
            <div class="slide-2-b ani" swiper-animate-effect="fadeInLeft">
                <span class="slide-2-txt"></span>
            </div>
            <div class="slide-2-c ani" swiper-animate-effect="fadeInRight" swiper-animate-delay="0.6s">
                <span class="slide-2-txt"></span>
            </div>
        </div>
        <div class="swiper-slide slide-3 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/3.jpg">
            <div class="slide-3-a ani" swiper-animate-effect="fadeIn"></div>
            <div class="slide-3-b ani" swiper-animate-effect="fadeInLeft">
                <span class="slide-3-time"></span>
                <span class="slide-3-count"></span>
            </div>
        </div>
        <div class="swiper-slide slide-4 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/4.jpg">
            <div class="slide-4-a ani" swiper-animate-effect="fadeIn"></div>
            <div class="slide-4-b ani" swiper-animate-effect="fadeInUp">
                <span class="slide-4-anchor">
                    <span class="slide-4-nickname"></span>
                    <span class="slide-4-icon"></span>
                </span>
                <span class="slide-4-money"></span>
                <span class="slide-4-day"></span>
            </div>
        </div>
        <div class="swiper-slide slide-5 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/5.jpg">
            <div class="slide-5-gift ani" swiper-animate-effect="fadeInLeft">
            </div>
            <div class="slide-5-game ani" swiper-animate-effect="fadeInRight">
                <span class="js-allnum"></span>
                <span class="js-rank"></span>
                <span class="js-ranktag"></span>
            </div>
        </div>
        <div class="swiper-slide slide-6 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/6.jpg">
            <div class="slide-6-a ani" swiper-animate-effect="fadeInDown"></div>
            <div class="slide-6-b ani" swiper-animate-effect="fadeInUp"></div>
        </div>
        <div class="swiper-slide slide-7 lazy-img" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/7.jpg">
            <div class="slide-7-a ani" swiper-animate-effect="swing"></div>
            <div class="tag-block">
            </div>
            <div class="share-btn"></div>
            <div class="again-btn"></div>
        </div>
    </div>

    <div class="swiper-pagination"></div>
</div>

<!-- 错过2017 -->
<div class="lazy-img nofind-page slide-8" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/8.jpg">
    <div class="slide-8-a"></div>
    <div class="slide-8-b"></div>
</div>

<!-- 分享的H5 -->
<div class="lazy-img friend-share slide-9" data-bg="//static.guojiang.tv/mobile/v2/img/activity/summary/9.jpg">
    <div class="slide-9-a">
        <img src="">
        <div class="slide-9-nickname"></div>
    </div>
    <div class="friend-tag-block">
        <div class="tag-item"><em></em></div>
        <div class="tag-item"><em></em></div>
        <div class="tag-item"><em></em></div>
        <div class="tag-item"><em></em></div>
    </div>
    <div class="share-tag"></div>
</div>


<script data-js="//static.guojiang.tv/mobile/v2/js/lib/swiper-4.1.0.min.js"></script>
<script data-js="//static.guojiang.tv/mobile/v2/js/lib/swiper.animate1.0.2.min.js"></script>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '你的星光年度总结新鲜出炉！',
        content: '有你真好，相伴的这一年！',
        link: '//m.tuho.tv/dist/activity/summary.html',
        imgLink: '//static.guojiang.tv/mobile/v2/img/activity/summary/share.png'
    });
</script>