<div id="app" v-cloak>
    <!-- /* img path - "../../../../static_guojiang_tv/src/mobile/v2/img/activity/sweetsummer" */ -->
    <div class="page-bgs">
        <!-- bgs -->
        <div class="page-bg bg1"></div>
        <div class="page-bg bg2"></div>
        <div class="page-bg bg3"></div>
        <!-- <div class="page-bg bg4"></div> -->
        <div class="page-bg bg5"></div>
    </div>

    <%= content %>
</div>

<script>
(function adaptation () {
    var href = window.location
    if (/Android|webOS|iPhone|iPod|iPad|BlackBerry|Windows Phone|SymbianOS/i.test(navigator.userAgent)) {
        if (href.host.indexOf('www') >= 0) {
            window.location.href = '//m.tuho.tv/dist' + href.pathname
        }
    } else {
        if (href.host.indexOf('www') < 0) {
            window.location.href = '//www.tuho.tv' + href.pathname.replace('/dist', '')
        }
    }
}())
</script>

<script>
var gjShareParam = JSON.stringify({ // eslint-disable-line
    title: '夏日狂欢大作战',
    content: '炎炎夏日的正确打开方式：水枪大战了解一下',
    link: location.href,
    imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/sweetsummer/share.jpg")}' // eslint-disable-line
})
</script>
