<div class="wrapper" id="app">
    <header class="banner"></header>
    <!-- 充值返利 -->
    <div class="recharge">
        <h2 class="recharge-title">
            充值返利
        </h2>
        <p class="recharge-intro">
            活动期间，单笔充值达到相应金额，即可获得对应比例的克拉返利；
            <span class="intro-1">1</span>
        </p>
        <p class="recharge-intro">
            充值方式不限；
            <span class="intro-1">2</span>
        </p>
        <p class="recharge-intro">
            24小时内累计充值超过<em>2万元</em>的，可以按2万元以上的返利区间进行克拉返利。此类返利请联系客服发放哦！
            请在APP内“我的”-“联系客服”中联系客服或者扫描微信公众号，在微信公众号中联系客服。
            <span class="intro-1">3</span>
        </p>
        <div class="code-img"></div>
        <p class="code-img-text">扫码关注微信公众号</p>
        <div class="code-attent sprite">查看返利区间</div>
    </div>
    <div class="content">
        <div class="class-title sprite">情比金坚榜</div>
        <p class="sort-top1">第一名</p>
        <p class="sort-top1 gray-color">相爱值:<em class="js-top1-num"></em></p>
        <div class="sort-top1-bg">
            <div class="sort-top1-avator">
                <div class="sort-top1-img">
                    <img src="" class="js-top1-left js-goroom">
                </div>
                <div class="avator-nickname js-top1-left-nickname"></div>
            </div>
            <div class="sort-top1-avator">
                <div class="sort-top1-img">
                    <img src="" class="js-top1-right">
                </div>
                <div class="avator-nickname js-top1-right-nickname"></div>
            </div>
        </div>
        <!-- 情比金坚 -->
        <div>
            <div class="sort-item-box">
            </div>
        </div>
        <!-- 今日夺冠 -->
        <div>
            <div class="class-title today-prize sprite">
                今日夺冠
            </div>

            <div class="today-prize-intro">
                <p>本榜单显示<em class="pink">当日</em>送出“爱你”最多的前三名用户，计算时间范围为当日00:00:00—23:59:59。</p>
                <p>当日上榜的用户将获得<em class="pink">七夕限定座驾——比翼鸟（7日体验卡）</em>，奖励于当日23:59:59自动下发。</p>
            </div>
            <div class="today-top today-top-0">
                <span class="today-title">第1名</span>
                <div class="today-avator"></div>
                <p class="pale-pink"></p>
                <p>数量：</p>
            </div>
            <div class="col-today-top c_clearfix">
                <div class="c_clearfix">
                    <div class="today-top today-top-1 col-left">
                        <span class="today-title">第2名</span>
                        <div class="today-avator"></div>
                        <p class="pale-pink"></p>
                        <p>数量：</p>
                    </div>
                </div>
                <div class="c_clearfix">
                    <div class="today-top today-top-2 col-right">
                        <span class="today-title">第3名</span>
                        <div class="today-avator"></div>
                        <p class="pale-pink"></p>
                        <p>数量：</p>
                    </div>
                </div>
            </div>

            <div class="prize-btn sprite"></div>

            <div class="valentine-ani">
                <div class="valentine-icon sprite"></div>
                <div class="ani-tips sprite"></div>
            </div>
            <p class="valentine-car">七夕限定座驾——比翼鸟</p>

            <div class="equip sprite">装备</div>
        </div>

        <!-- 活动规则 -->
        <div>
            <div class="class-title active-rule sprite">
                活动规则
            </div>
            <div class="rule-content">
                <p>1. 活动时间为2017/08/24 18:00:00-2017/08/29 23:59:59。活动时间外送出的礼物不计入榜单。</p>
                <p>2.在活动期间内，主播每收到3000个“爱你”，就能召唤鹊桥开启福利，一起来抢夺七夕红包吧！</p>
                <p>3. 情比金坚榜会显示前十名收到最多活动礼物的主播，以及赠送给该主播最多“爱你”的用户。相爱值为该主播收到“爱你”的总数量哦！</p>
                <p>4.登上情比金坚榜的主播都将获得七夕奖励，奖励将于活动结束后15个工作日内发放。</p>
                <p>5.每日送出“爱你”最多的前三名用户将获得七夕限定座驾——比翼鸟（7日体验卡），快来体验吧！</p>
            </div>
        </div>

        <!-- 奖励看这里 -->
        <div>
            <div class="class-title reward sprite">
                奖励看这里！
            </div>
            <div class="reward-gift reward-gift-top1">
                <div class="reward-img-1 reward-img sprite"></div>
                <p class="reward-txt">第一名 周生生Choker</p>
                <p class="reward-txt">爱情密语钻石项链</p>
            </div>
            <div class="reward-col c_clearfix">
                <div class="reward-gift reward-col-left">
                    <div class="reward-img-2 reward-img sprite"></div>
                    <p class="reward-txt">第二名 周生生魔法爱情树</p>
                    <p class="reward-txt">黄金吊坠</p>
                </div>
                <div class="reward-gift reward-col-right">
                    <div class="reward-img-3 reward-img sprite"></div>
                    <p class="reward-txt">第三名 周生生心心相印</p>
                    <p class="reward-txt">铂金吊坠</p>
                </div>
            </div>
            <div class="reward-col c_clearfix">
                <div class="reward-gift reward-col-left">
                    <div class="reward-img-4 reward-img sprite"></div>
                    <p class="reward-txt">第四-五名 周生生黄金</p>
                    <p class="reward-txt">心形耳环</p>
                </div>
                <div class="reward-gift reward-col-right">
                    <div class="reward-img-5 reward-img sprite"></div>
                    <p class="reward-txt">第六-十名 “心”光璀璨</p>
                    <p class="reward-txt">镀玫瑰金耳钉</p>
                </div>
            </div>
        </div>

        <!-- 活动说明 -->
        <div class="footer-intro">
            本活动最终解释权归星光直播所有
        </div>
    </div>
    <!-- 夺冠列表 -->
    <div class="champion-lists">
        <div>
            <div class="champion-head sprite">夺冠列表</div>
            <div class="champion-content">
                <div class="champion-sort">

                </div>
            </div>
            <div class="champion-close sprite"></div>
        </div>
    </div>
    <div class="cover-bg">
    </div>
    <!-- 返利区间 -->
    <div class="recharge-msgbox">
        <div>
            <p class="recharge-msgbox-text">100&lt;=单次充值&lt;300元，返利比例为2%克拉</p>
            <p class="recharge-msgbox-text">300&lt;=单次充值&lt;1000元，返利比例为4%克拉</p>
            <p class="recharge-msgbox-text">1000&lt;=单次充值&lt;2000元，返利比例为6%克拉</p>
            <p class="recharge-msgbox-text">2000&lt;=单次充值&lt;5000元，返利比例为8%克拉</p>
            <p class="recharge-msgbox-text">5000&lt;=单次充值&lt;20000，返利比例为10%克拉</p>
            <p class="recharge-msgbox-text">20000&lt;=单次充值&lt;100000元，返利比例为15%克拉</p>
            <p class="recharge-msgbox-text">单次充值&gt;=100000元，返利比例为20%克拉</p>
        </div>
    </div>
</div>


<script src="//static.guojiang.tv/mobile/js/common/zepto.min.js"></script>
<script src="//static.guojiang.tv/mobile/js/common/bodymovin.min.js?vs=0804"></script>
<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '爱在七夕,返利不停！',
        content: '秒杀所有直播平台的返利活动，最高返20%！我们真的不是说说而已！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/valentine/share.jpg")}'
    });
</script>