<div class="wrapper" id="app" v-cloak>
    <div class="wrap">
        <div class="text">
            <p>亲爱的小主们：</p>
            <p>　　马上就要进入春节长假啦，可以开怀吃喝玩乐到处旅游啦，是不是想想都好兴奋！不过请注意，春节期间平台的小伙伴也将放假，平台部分工作将延迟到节后处理，还请各位美女帅哥提前做好准备哦。</p>
            <p>假期具体安排如下：</p>
            <p>一、提现</p>
            <p>　　提现审核工作（包括大额提现）在<strong>2019年2月2日至2019年2月11日暂停，2月12日</strong>起恢复正常。（即1月26日起申请的大额提现，和1月30日起申请的普通提现，需节后2月12日起恢复发放）</p>
            <p>　　节假期间，所有过期的红包，财务将<strong>2月15日前</strong>处理补发，若<strong>2月15日后</strong>还未收到补发红包，请及时联系客服反馈。</p>
            <p>　　请各位小主提前做好资金计划，给大家带来的不便，敬请谅解！</p>
            <p>二、客服</p>
            <p>　　节假日都有客服值班哦！<strong>2019年2月2日至2019年2月11日期间，客服值班时间为9:30~次日1:30。</strong></p>
            <p>　　因值班宝宝较少，这个时间段或许不能很及时的回复您，还望体谅。有问题请您留言，客服宝宝会注意回复的。</p>
            <p class="max-bottom">   2018感谢您一路的陪伴与信任，2019我们将一如既往为您提供最真诚的服务，与您携手再续辉煌！</p>
            <p>温馨提醒：</p>
            <p>　　近日，平台内出现许多诈骗分子通过私信或直播间公屏，以各种“优惠”方式出售克拉，企图骗取金钱，扰乱平台正常秩序，使部分小主产生误解与质疑，造成不良影响。请各位小主通过平台正当渠道进行充值，以免造成损失。</p>
            <p>　　在此平台特提醒各位小主：年关将至，也是骗子盛行之时，请各位小主擦亮眼睛，谨防诈骗！</p>
            <p>　　最后：平台全体员工预祝大家春节愉快！</p>
            <br />
            <div class="tr">平台运营团队</div>
            <div class="tr">2019年1月21日</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({ // eslint-disable-line
        title: '春节提现通知',
        content: '春节提现通知！',
        link: location.href,
        imgLink: '' // eslint-disable-line
    })
</script>
