<article>
	<div id="app">
        <div class='top'>
            <img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/activity/wjy/top.jpg')}" alt="吴俊余">
        </div>
        
        <div class='details'>
            <div class="box_1">
                <div class="d_title title">
                    <h3 class='decorate'>遇见吴俊余，如沐轻风</h3>
                </div>
                <div class="txt">
                    <p>他多重身份微笑出现在喜爱他的每个人的面前</p>
                    <p>他是<span class='y_color'>歌手吴</span>: 他以《快乐男声》优秀选手身份高调出场，又成为首位登上英国电音杂志《DJ Mag》的华人歌手。2016年推出个人音乐专辑《茧》，获得“中国音乐联播榜年度盛典”年度最受欢迎人气男歌手以及年度人气歌手奖。</p>
                    <p>他是<sapn class="y_color">作家吴</sapn>：2017年1月，以一休为笔名发表了个人首部小说作品《弥生界》。</p>
                    <p>他是<span class="y_color">演员吴</span>：他曾是《美人无泪》中的顺治小皇帝，千百愁肠只为一人！也是《隋唐英雄3》中唐太宗第三子吴王李恪...每一个影视作品他都用心去塑造。在《泡泡星嗨访》前夕，俊余的新电影《20:16》也暖心上映！</p>
                </div>
            </div>
            <div class="bgc1">
            <div class="bg bg_1"></div>

            <div class="box_2">
                <div class="d_title title">
                    <h3 class='decorate'>破茧成蝶，不忘初心</h3>
                </div>
                <div class="details">
                    <div class="txt">
                        <p>俊余用爱与才华如同骄阳，正能量满满又不负粉丝期待照耀金鱼。保持微笑，继续迎接下一个挑战！5月23日，他来了！带给金鱼是心有灵犀最真的体验，还有温暖珍视的目光。同时《泡泡星嗨访》携手吴俊余爱心无界，此次直播间收入将捐献给“北京领养日”公益组织。</p>
                    </div>
                    <div class="d_1">
                        <div class="d_title">
                            <h3>才华横溢的钟情福利</h3>
                        </div>
                        <div class="txt">
                            <p>想要知道你与俊余的终极默契值吗？想要获得吴俊余的<span class='color_ye'>亲笔签名照片与专辑</span>吗？关注“果酱时代”官方微博与微信公众账号，我们将释出大礼等你来拿！</p>
                        </div>
                    </div>
                    <div class="d_2">
                        <div class="d_title">
                            <h3>苏化你心得通话机会</h3>
                        </div>
                        <div class="txt">
                            <p>直播前期，我们将在微博上抽出一位幸运儿，<span class='color_ye'>与俊余直通电话</span>，说说“心里话”，具体操作方式关注微博不迷路吼！</p>
                            <p>还有、还有~更多惊喜锁定当天#泡泡星嗨访#</p>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            
        </div>
        <div class="bgc2">
        <div class="bg bg_2"></div>
        <div class='notice'>

            <div class="n_title title">
                <h3 class='decorate'>金鱼们看过来</h3>
            </div>
            <div class="txt">
                <p>1.文明直播靠大家，直播期间大家绿色观播。</p>
                <p>2.用户参与本次活动即视为知晓并同意此活动规则。</p>
                <p>3.活动结束后工作人员将对获奖名单进行公示并于十个工作日之
                内发放奖品，有问题请联系客服。QQ：3011244945</p>
                <p>4.中奖用户微博请私信泡泡直播官方微博，填写收奖地址。</p>
                <p>5.在法律允许的范围内，活动的最终解释权归深圳市果酱时代科技有限公司所有。</p>
            </div>
        </div>
        </div>
    </div>
</article>

<script>
var gjShareParam = JSON.stringify({
            title: '吴俊余“夏日骄阳，微笑出击”',
            content: '5月23日#泡泡星嗨访#看国民初恋为梦想发声！',
            link: location.href,
            imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/wjy/share.jpg")}'
        });
</script>