<!-- 年度盛典充值活动 12/01 - 12/31 -->
<div id="app" v-cloak>
    <!-- /* img path - "../../../../../static_guojiang_tv/src/mobile/v2/img/activity/ceremony2018/charge" */ -->
    <div class="page-bgs">
        <!-- bgs -->
        <div class="page-bg bg1"></div>
    </div>

    <div class="page-content">
        <div class="banner">
            <div class="banner-time">
                <span class="linear-txt" text="12月1日-12月31日">12月1日-12月31日</span>
            </div>
        </div>

        <!-- 充值返利  助攻年度 -->
        <div class="section recoin">
            <div class="sec-title">
                <div class="title-txt s-sprite s-t1">充值福利1: 充值返利 助攻年度</div>
            </div>
            <p class="phrase">
                <span class="label">活动时间：</span>
                <span class="cont">12.1 00:00:00 - 12.31 23:59:59。</span>
            </p>
            <p class="phrase">
                <span class="label">充值说明：</span>
                <span class="cont">活动期间，24小时累计充值达到指定额度，可获得对应返点的克拉奖励。</span>
            </p>
            <p class="phrase">
                <span class="label">充值方式：</span>
                <span class="cont">所有正规充值渠道均可。</span>
            </p>
            <p class="phrase">
                <span class="label">返利方式：</span>
                <span class="cont">联系客服返利。</span>
            </p>
            <p class="phrase">充值金额及对应返点明细：</p>
            <div class="bd-box">
                <div class="table table-1">
                    <div class="thead">
                        <div class="t-cell">充值（万元）</div>
                        <div class="t-cell">返点</div>
                        <div class="t-cell">赠送克拉</div>
                    </div>
                    <div class="tbody">
                        <div class="t-row">
                            <div class="t-cell">10</div>
                            <div class="t-cell">10%</div>
                            <div class="t-cell">即返100万克拉</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">20</div>
                            <div class="t-cell">12%</div>
                            <div class="t-cell">即返240万克拉</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">50</div>
                            <div class="t-cell">15%</div>
                            <div class="t-cell">即返750万克拉</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">100</div>
                            <div class="t-cell">20%</div>
                            <div class="t-cell">即返2000万克拉</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">200</div>
                            <div class="t-cell">20%+年度盛典冠名</div>
                            <div class="t-cell">即返4000万克拉</div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="phrase">
                <span class="label-zhu">注：</span>
                <span class="cont">1. 年度盛典冠名是指在年度盛典开屏上注明冠名信息：本活动由用户昵称/用户指定主播昵称冠名。</span>
            </p>
            <p class="phrase">
                <span class="label-zhu"></span>
                <span class="cont">2. 需要申请年度冠名的用户，按照充值达标时间，即时起冠名。若有相同充值用户，按照时间先后，第一位充值达标用户可冠名，其余用户可享有200万充值返点克拉。</span>
            </p>
        </div>

        <!-- 充值福利2：充值就送游戏体验券 -->
        <div class="section gifts">
            <div class="sec-title">
                <div class="title-txt s-sprite s-t2">充值福利2：充值就送游戏体验券</div>
            </div>
            <p class="phrase">
                <span class="label">活动时间：</span>
                <span class="cont">12.5 12:00:00 - 12.21 11:59:59。</span>
            </p>
            <p class="phrase">
                <span class="label">充值说明：</span>
                <span class="cont">1. 赛事期间，单笔充值达到指定额度，即可获得“幸运转盘”游戏体验券1张。请至[直播间-游戏-幸运转盘]中使用。</span>
            </p>
            <p class="phrase">
                <span class="label"></span>
                <span class="cont">2. 每个充值额度一个设备/IP每日仅一个ID赠送一次。</span>
            </p>
            <p class="phrase">
                <span class="label"></span>
                <span class="cont">3. 体验券有效期至12月21日11:59:59，请及时使用。</span>
            </p>
            <p class="phrase">
                <span class="label">充值方式：</span>
                <span class="cont">所有正规充值渠道均可。</span>
            </p>
            <p class="phrase">充值金额及对应赠送体验券：</p>
            <div class="bd-box">
                <div class="table table-2">
                    <div class="thead">
                        <div class="t-cell">充值（元）</div>
                        <div class="t-cell">赠送</div>
                    </div>
                    <div class="tbody">
                        <div class="t-row">
                            <div class="t-cell">30</div>
                            <div class="t-cell">价值200克拉的“幸运转盘”新手盘体验券1张</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">100</div>
                            <div class="t-cell">价值200克拉的“幸运转盘”新手盘体验券3张</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">300</div>
                            <div class="t-cell">价值200克拉的“幸运转盘”新手盘体验券10张</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">1000</div>
                            <div class="t-cell">价值200克拉的“幸运转盘”新手盘体验券33张</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell">2000</div>
                            <div class="t-cell">价值200克拉的“幸运转盘”新手盘体验券66张</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright">本活动最终解释权归平台运营团队所有</p>

        <!-- floater -->
        <div class="floater btn-charge" @click="gocharge">去充值</div>
    </div>
</div>

<script>
(function adaptation () {
    let href = window.location
    if (/Android|webOS|iPhone|iPod|iPad|BlackBerry|Windows Phone|SymbianOS/i.test(navigator.userAgent)) {
        if (href.host.indexOf('www') >= 0) {
            window.location.href = '//m.tuho.tv/dist' + href.pathname
        }
    } else {
        if (href.host.indexOf('www') < 0) {
            window.location.href = '//www.tuho.tv' + href.pathname.replace('/dist', '')
        }
    }
}())
</script>

<script>
var gjShareParam = JSON.stringify({ // eslint-disable-line
    title: '2018星光年度补给站',
    content: '充值返利，助攻年度！',
    link: location.href,
    imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/ceremony2018/charge/share.jpg")}' // eslint-disable-line
})
</script>
