<!-- 2018星光年度盛典 mrzjd -->
<div id="app" v-cloak>
</div>

<script>
// 页面重定向到index.html页面 原有页面不再使用
location.href = './index.html#/preState'
</script>

<script>
var gjShareParam = JSON.stringify({ // eslint-disable-line
    title: '2018星光年度盛典强势来袭！',
    content: '积攒一年的能量，就在此刻爆发。',
    link: location.href,
    imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/ceremony2018/preState/share.jpg")}' // eslint-disable-line
})
</script>
