<div id="content">
	<img src="${require("../../../../static_guojiang_tv/src/mobile/v2/img/store/img_1.png")}" class="header_img">

	<div class="header_nav clearfix" v-cloak>
		<router-link to="/mount" class="fl"><span>座驾</span></router-link>
		<router-link to="/prop" class="fr"><span>道具</span></router-link>
	</div>

	<router-view></router-view>
</div>