<main class="main_box" id="app" v-cloak>
        <div class="banner"></div>
    <div class="one">
        <section class="fir-section">

            <!-- 老虎机 -->
            <div class="drew-con">
                <h2>
                    <span>
                        您已送出
                        <strong>{{userMesArr.sendGiftNum}}</strong>
                        个小锦鲤
                    </span>
                </h2>
                <div class="drew-box clearfix">
                    <div>
                        <ul>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                            <li class="spt1 box1"></li>
                            <li class="spt1 box2"></li>
                            <li class="spt1 box3"></li>
                            <li class="spt1 box4"></li>
                            <li class="spt1 box5"></li>
                        </ul>
                    </div>
                </div>
                <div class="drew-btn spt1" v-if="userMesArr.leftDrawTimes != 0" @click="drew()"></div>
                <div class="drew-btn spt1 drew-btned" v-else @click="nodrew()" ></div>
                <p>
                    <span>
                        亲爱的：您还可以抽
                        <strong>{{userMesArr.leftDrawTimes}}</strong>次
                    </span>
                </p>
            </div>

            <!-- 分享 -->
            <!-- <div v-if="userMesArr.isUserShareToday" class="click-btn shared spt1">
                <span>分享朋友圈获得抽奖机会<br />每日一次</span>
            </div> -->
            <!-- <div v-else class="click-btn share spt1" @click="share()" >
                <span>分享朋友圈获得抽奖机会<br />每日一次</span>
            </div> -->
            
            <div class="click-btn share spt1" @click="share()" >
                <span>分享朋友圈获得抽奖机会<br />每日一次</span>
            </div>

            <!-- 中奖纪录 -->
            <div class="drew-scroll">
                <div class="drew-scroll-box">
                </div>
            </div>
            <div class="click-btn code" @click="myDrew()">我的中奖记录</div>
        </section> 
    </div>

        <div class="top-pic"></div>
    <!-- 榜单 -->
    <div class="two">
        <section class="sec-section">
            <div class="tab-btn clearfix">
                <div>
                    <b class="fish-btn spt1 fish-choose"></b>
                </div>
                <div>
                    <b class="dragon-btn spt1"></b>
                </div>
            </div>
            <div class="top-tab">
                <!-- 鱼榜 -->
                <div class="fish-top">
                    <div class="fish-top-three">
                        <ul>
                            <li class="top-three-list" v-for="(item,index) in modRankArr" v-if="index < 3">
                                <div class="user-mes spt1">
                                    <div class="clearfix">
                                        <strong>{{item.nickname}}</strong>
                                        <b :class="'level_icon m_level_icon_' + item.level"></b>
                                    </div>
                                    <p>
                                        <span>收到：</span>
                                        <span>{{item.num.pnum}}</span>
                                    </p>

                                    <div v-if="!item.is_attention" v-bind:data-mid="item.num.mid" class="care" @click="attention($event,index)"></div>
                                    <div v-else class="cared"></div>
                                </div>
                                <div class="top-img-area">
                                    <em class="spt1"></em>
                                    <img :src="item.head_pic_1" alt="" @click="inlive($event)" v-bind:data-rid="item.num.mid" v-bind:data-rid="item.num.mid" />
                                    <span v-if="item.is_playing == 1"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="fish-top-other">
                        <h2>
                            <div class="top-num">排名</div>
                            <div class="top-img">头像</div>
                            <div class="top-name"><span>昵称</span></div>
                            <div class="top-gift">收到礼物/个</div>
                        </h2>
                        <div class="log-wrap">
                            <ul class="top-scroll-bar top-scroll-fish">
                                <li  v-for="(item,index) in modRankArr" :key="index" v-if="index >= 3">
                                    <div class="top-num">{{index+1}}</div>
                                    <div class="top-img">
                                        <img :src="item.head_pic_1" alt="" @click="inlive($event)" v-bind:data-rid="item.num.mid" />
                                        <b v-if="item.is_playing == 1" class="spt1"></b>
                                    </div>
                                    <div class="top-name">
                                        <strong>{{item.nickname}}</strong>
                                        <b :class="'level_icon m_level_icon_' + item.level"></b>
                                    </div>
                                    <div class="top-gift">{{item.num.pnum}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="click-btn slide-down" @click="showF()">展开</div>
                </div>

                <!-- 龙榜 -->
                <div class="dragon-top">
                    <div class="dragon-top-three">
                        <ul>
                            <li class="top-three-list" v-for="(item,index) in userRankArr" v-if="index < 3">
                                <div class="user-mes spt1">
                                    <div class="clearfix">
                                        <strong>{{item.nickname}}</strong>
                                        <b :class="'level_icon u_level_icon_' + item.level"></b>
                                    </div>
                                    <p>
                                        <span>送出：</span>
                                        <span>{{item.num.pnum}}</span>
                                    </p>
                                </div>
                                <div class="top-img-area">
                                    <em class="spt1"></em>
                                    <img :src="item.head_pic_1" alt="" v-bind:data-rid="item.num.uid" />
                                    <!-- <span v-if="item.is_playing == 1"></span> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="dragon-top-other" >
                        <h2>
                            <div class="top-num">排名</div>
                            <div class="top-img">头像</div>
                            <div class="top-name"><span>昵称</span></div>
                            <div class="top-gift">送出礼物/个</div>
                        </h2>
                        <div class="log-wrap2">
                            <ul class="top-scroll-bar top-scroll-dragon">
                                <li v-for="(item,index) in userRankArr" :key="index" v-if="index >= 3">
                                    <div class="top-num">{{index+1}}</div>
                                    <div class="top-img">
                                        <img :src="item.head_pic_1" alt="" v-bind:data-rid="item.num.uid" />
                                        <!-- <b v-if="item.is_playing == 1" class="spt1"></b> -->
                                    </div>
                                    <div class="top-name">
                                        <strong>{{item.nickname}}</strong>
                                        <b :class="'level_icon u_level_icon_' + item.level"></b>
                                    </div>
                                    <div class="top-gift">{{item.num.pnum}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="click-btn slide-down"  @click="showD">展开</div> 
                </div>
            </div>
        </section>
    </div>

    <!-- 规则按钮 -->
    <div class="rule-btn" @click="showRules();">
        <span>
            活动<br />规则
        </span>
        <b></b>
    </div>
    
    <!-- 弹窗 -->
    <div class="tip-win" v-show="showWin">
        <!-- 规则类型 -->
        <div class="rule-con" v-show="showRule">
            <b class="close-btn" @click="showWin = !showWin; showRule = !showRule"></b>
            <div class="rule-show-cover">
                <div class="rule-show">
                <h2>- 活动规则 -</h2>
                <div class="rule-txt">
                    <ul>
                        <li>
                            <b>1</b>
                            <span>活动时间</span>
                            <strong>：2018年1月16日 18:00:00-2018年1月20日 23:59:59。</strong>
                        </li>
                         <li>
                            <b>2</b>
                            <span>抽奖时间</span>
                            <strong>：2018年1月16日 18:00:00-2018年1月21日 23:59:59，到期后不可参与抽奖。</strong>
                        </li>
                        <li>
                            <b>3</b>
                            <span>活动期间，每送出233个活动礼物——“小锦鲤”，即可获得1次抽奖机会，快来参加吧！</span>
                        </li>
                        <li>
                            <b>4</b>
                            <span>活动期间，将活动页面分享至朋友圈可获得1次免费抽奖机会，每日限1次，快去分享吧！</span>
                        </li>
                        <li>
                            <b>5</b>
                            <span>抽奖机中奖图案说明：</span>
                            <div class="gift-list">
                                <div class="gift-list-tit">
                                    <div>奖项</div>
                                    <div>图案</div>
                                    <div>奖品</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>特等奖</div>
                                    <div>
                                        <span class="six-pic"></span>
                                        <strong>x3</strong>
                                    </div>
                                    <div>全平台炸房</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>一等奖</div>
                                    <div>
                                        <span class="allin-pic"></span>
                                        <strong>x3</strong>
                                    </div>
                                    <div>50000克拉</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>二等奖</div>
                                    <div>
                                        <span class="car-pic"></span>
                                        <strong>x3</strong>
                                    </div>
                                    <div>10000克拉</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>三等奖</div>
                                    <div>
                                        <span class="beer-pic"></span>
                                        <strong>x3</strong>
                                    </div>
                                    <div>皮皮虾座驾-标准版<br /> (7日体验卡) </div>
                                </div>
                                <div class="gift-list-per">
                                    <div>四等奖</div>
                                    <div>
                                        <span class="star-pic"></span>
                                        <strong>x3</strong>
                                    </div>
                                    <div>筋斗云座驾<br /> (7日体验卡) </div>
                                </div>

                                <div class="gift-list-per">
                                    <div>鼓励奖</div>
                                    <div>
                                        <span class="six-pic"></span>
                                        <strong>x2</strong>
                                    </div>
                                    <div>旺财来了 x1</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>鼓励奖</div>
                                    <div>
                                        <span class="allin-pic"></span>
                                        <strong>x2</strong>
                                    </div>
                                    <div>姜饼屋 x2</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>鼓励奖</div>
                                    <div>
                                        <span class="car-pic"></span>
                                        <strong>x2</strong>
                                    </div>
                                    <div>20克拉</div>
                                </div>
                                <div class="gift-list-per">
                                    <div>鼓励奖</div>
                                    <div>
                                        <span class="beer-pic"></span>
                                        <strong>x2</strong>
                                    </div>
                                    <div>共享单车<br /> (1日体验卡) </div>
                                </div>
                                <div class="gift-list-per">
                                    <div>参与奖</div>
                                    <div>
                                        <span class="star-pic"></span>
                                        <strong> x2</strong>
                                    </div>
                                    <div>小锦鲤x1</div>
                                </div>
                            </div>
                            <p class="samll-tip">除表格内展示的图案外，其他图案皆不中奖。</p>
                        </li>
                        <li>
                            <b style="margin-bottom: 0">6</b>
                            <span>锦鲤榜前3名主播皆可获得行运大礼包，奖励见下表；</span>
                        </li>
                        <li>
                            <b style="margin-bottom: 0">7</b>
                            <span>本次活动最终解释权归星光直播所有。</span>
                        </li>
                    </ul>
                </div>
                <h2 class="sec-tit">- 活动奖励 -</h2>
                <div class="jl-gift"></div>
            </div>
            </div>
        </div>

        <!-- 中奖纪录 -->
        <div class="gift-code" v-show="showCode">
            <b class="close-btn" @click="showWin = !showWin; showCode = !showCode"></b>
            <div class="code-tit clearfix">
                <div class="code-time">时间</div>
                <div class="code-gift">奖品</div>
            </div>
            <div class="mycode-list-cover">
                <ul class="mycode-list">
                    <li v-for="myCodeIndex in mycodeArr">
                        <div>{{myCodeIndex['addTime']}}</div>
                        <div>{{myCodeIndex['prizeName']}}</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 抽奖提示 -->
        <div class="drew-tips">
            <b class="close-btn"></b>
            <!-- 炸房 -->
            <div class="drew-txt speacial">
                <p>
                    <strong class="to-inline">获得</strong>
                    <span class="to-inline">全平台撒钱机会</span>
                </p>
                <p>
                    <em>即将触发天降红包 <br />快去直播间抢泡泡吧！</em>
                </p>
            </div>

            <!-- 其他中奖 -->
            <div class="drew-txt other-drew">
                <em>鲤鱼跃龙门，新年行大运！</em>
                <strong>您获得</strong>
                <span>皮皮虾座驾（标准版）7日体验卡</span>
            </div>

            <!-- 没中奖 -->
            <div class="drew-txt yihan nothing">
                <strong>什么也没有！再来一次！</strong>
            </div>

            <!-- <div class="click-btn knowed">好的</div> -->
        </div>
    </div>
</main>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '鱼跃龙门',
        content: '新年行大运！',
        link: location.href,
    });
</script>
