<main class="main_box" id="app" v-cloak>
    <div class="wrap">
        <div class="bx1"></div>
        <div class="bx2">
            <div class="btn" @click="goCz()"></div>
        </div>
    </div>
</main>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '暖春回馈 充值有礼',
        content: '叮~这一波充值福利请您收好~',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/mobile/v2/img/activity/rebate/share.jpg")}'
    });
</script>
