<main class="main_box" id="app" v-cloak>
    <div class="ban"></div>
    <div class="wrap">
        <div class="content1"></div>
        <div class="content2"></div>
    </div>
</main>

<script type="text/javascript">
    var gjShareParam = JSON.stringify({
        title: '星光直播招募令',
        content: '如果你能唱会跳，能说会道，那么就来星光享受万众瞩目吧！超巨吸引力的扶持政策，优质推荐位，期待你的加入！',
        link: location.href,
        imgLink: '${require("../../../../static_guojiang_tv/src/pc/v4/img/activity/zhaomu/share.png")}'
    });
</script>
