<link rel="stylesheet" type="text/css" href="//static.guojiang.tv/mobile/v2/css/lib/swiper-4.1.0.min.css">
<meta itemprop="name" content="星光直播"/>
<meta name="description" itemprop="description" content="喜欢就聊，主播就在身边" />

<div class="wrapper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1"></div>
            <div class="swiper-slide slide-2"></div>
            <div class="swiper-slide slide-3"></div>
            <div class="swiper-slide slide-4"></div>
            <div class="swiper-slide slide-5"></div>
            <div class="swiper-slide slide-6"></div>
            <div class="swiper-slide slide-7"></div>
            <div class="swiper-slide slide-8"></div>
            <div class="swiper-slide slide-9"></div>
            <div class="swiper-slide slide-10"></div>
        </div>
        <div class="slide-point">
            <em>1</em>
            /10
        </div>
        <div class="play-icon"></div>
        <div class="video-block">
            <video class="video-mp4" src=""></video>
        </div>
    </div>
    <div class="intro-block">
        <div class="xingguang c_clearfix">
            <div class="xingguang-act">
                <span>星光动态</span>
            </div>
            <div class="xingguang-scroll">
                <div class="scroll-wrap">
                </div>
            </div>
        </div>
        <div class="intro-item c_clearfix">
            <span class="item-title">直播类型</span>
            <span class="item-content job"></span>
        </div>
        <div class="intro-item c_clearfix">
            <span class="item-title">年龄</span>
            <span class="item-content age"></span>
        </div>
        <div class="intro-item c_clearfix">
            <span class="item-title">特殊服务</span>
            <span class="item-content server"></span>
        </div>
        <div class="intro-item c_clearfix">
            <span class="item-title">其他职业</span>
            <span class="item-content otherjob"></span>
        </div>
        <div class="intro-item c_clearfix">
            <span class="item-title">见面地点</span>
            <span class="item-content metting"></span>
        </div>
        <div class="intro-big c_clearfix">
            <span class="item-title">服务过的用户</span>
            <ul class="impress-wrap c_clearfix food">
            </ul>
            <div class="look-more">查看更多 》</div>
        </div>
    </div>
    <div class="go-login"></div>
</div>

<script src="//static.guojiang.tv/mobile/v2/js/lib/swiper-4.1.0.min.js"></script>

