<article>
	<nav>
	<a href="/dist/family/creditsDetail.html">
		我的积分：<span class="num" v-cloak>{{myCredits}}</span>
		<span class="arrow_icon"></span>
	</a>
	</nav>

	<section class="blank_hint">
		<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/common/blank_logo.png')}" class="blank_logo">

		<p class="desc">积分兑换物品功能即将开放<br>敬请期待！</p>
	</section>
</article>