<div class="h_notice">
	<!-- <span>广播播报：</span> -->
	<!-- <div class="h_scroll_wrap">
	</div> -->
</div>
<div class="header_wrap">
	<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/family/rule/0_01.jpg')}">

</div>

<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/family/rule/0_02.jpg')}">
<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/family/rule/0_03.jpg')}">
<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/family/rule/0_04.jpg')}">
<img src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/family/rule/0_05.jpg')}">