<article>
	<div class="header clearfix" v-cloak>
		<router-link to="/signIn" class="fl"><span>签到</span></router-link>
		<router-link to="/task" class="fr"><span>任务</span></router-link>
	</div>

	<div>
		<router-view></router-view>
	</div>
</article>
