<div class="wrapper">
    <div class="part1">
        <span class="live-book js-live-book"></span>
    </div>
    <div class="part2">
        <span class="attent js-attent">关注主播</span>
    </div>
    <div class="part3">
        <span class="nowBook js-live-book"></span>
    </div>
</div>

<script src="//static.guojiang.tv/pc/v3/js/component/jquery.min.js"></script>

<script>
    var gjShareParam = JSON.stringify({
        title: '【花美男的私厨日记】甜点至上',
        content: '7月4日17点，果酱人气主播刘毅实力回归，与新锐演员钱伟程挑战精致西点！',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/beautyBoy/share.jpg")}'
    });
</script>
