<div class="wrapper">
    <div class="add-btn"><span>+</span> 关注</div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '小动物大机密—胡耘豪的猫屋奇遇记',
        content: '7月13日15点，”贴膜侠“胡耘豪带你走进《小动物大机密》，化身铲屎官走进猫屋。携手“北京领养日”暖心互动，畅聊公益。',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/bigSecret/share.jpg")}'
    });
</script>
