<div class="wrapper ppbg">
    <div class="add-btn js-add-btn"><span>+</span>关注</div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '小动物大机密之汪星人大作战',
        content: '8月14日15点，“呆萌侦探“陈子由化身爱犬“驯养师”做客《小动物大机密》，阳光行动，助力公益。',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/dogMan/share.jpg")}'
    });
</script>
