<div class="wrapper">
    <div class="add-btn js-add-btn">直播预定</div>
    <div class="add-attent-copy js-add-btn">立即关注</div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '星嗨访——霸气冰美人的戏里戏外',
        content: '7月17日15点 IP巨制《楚乔传》“羽姑娘”李若嘉《星嗨访》火力上线。',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/iceGirl/share.jpg")}'
    });
</script>
