<div class="wrapper">
    <div class="add-btn js-add-btn"><span>+</span>关注</div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '喵小妞恋上喵星人',
        content: '泡泡直播公益系列节目甜蜜宠溺，元气少女，系爱猫咪，看囧萌“锦烛”化身软萌“猫咪小妞”，惊喜互动，助力公益',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/kitty/share.jpg")}'
    });
</script>
