<div class="wrapper" style="font-size: 0;">
    <a href="//m.laosijizb.com/download/file?code=734&channel=and-vivo.xxl-7"><img style="display: block;margin: 0 auto;max-width: 640px;width: 100%;height: auto;cursor: pointer;" src="//static.tuho.tv/src/mobile/v2/img/activity/staticPage/normalImg/star.jpg"></a>
</div>