<div class="wrapper">
    <img src="${require('../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/recruitOrder/bg.jpg')}">
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '网综时代 向路人“say bye”，未来红人非你莫属 ',
        content: '——果酱综艺主播团成员招募啦 ',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/recruitOrder/share.jpg")}'
    });
</script>