<div class="wrapper" data-hash="1">
    <div class="add-btn js-add-btn"><span>+</span>关注</div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '私厨日记之《Miss &Mr·Sushi (寿司先生和女士)》',
        content: '饮食男女，寿司之巅！新一期的私厨日记又来了。看暖男鲜肉易登林和性感女神陈雅婷 共同谱写厨房的冰与火之歌，8月5日，果酱直播间等你不散，这次我们要玩大的！',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/sushi/share.jpg")}'
    });
</script>
