<div class="wrapper">
    <div class="add-btn js-add-btn"><span>+</span>关注</div>
    <div class="add-attent-copy"><span>点击欣赏最新单曲</span>
    <span></span></div>
</div>

<script>
    var gjShareParam = JSON.stringify({
        title: '为爱涅槃 从心出发',
        content: 'Crystal王雪晶携全新专辑《Renée》闪亮来袭 7月25日13点《星嗨访》准时相约！',
        link: location.href,
        imgLink: '${require("../../../../../static_guojiang_tv/src/mobile/v2/img/activity/staticPage/wangxuejing/share.jpg")}'
    });
</script>
