<style type="text/css">
    body {
        background-color: #a89af8;
    }

    .banner img {
        width: 100%;
    }

    article {
        position: relative;
        top:-50px;
        margin: 10px 20px 24px 20px;
        padding:10px 12px;
        line-height: 24px;
        border-radius:10px;
        background-color: #fff;
        overflow: hidden;
    }

    .title {
        color: #333;
        font-size: 16px;
    }

    .rules{
        margin-left:20px;
    }
    ul li,.rules p{
        font-size: 12px;
        color: #666;
    }

</style>
<div class="banner">
    <img src='${require("../../../../static_guojiang_tv/src/mobile/v2/img/user/xiyu.jpg")}' alt="">
</div>
<article>
    <p class="title">一、适用范围</p>
    <ul class="rules">
        <li>1. 本条例适用于所有主播及用户。</li>
        <li>
            2. 本条例适用于平台所有场景，包含昵称、个性签名、头像、封面、直播内容及场景、直播间聊天等。
        </li>
    </ul>
    <p class="title">二、具体条款</p>
    <ul class="rules">
        <li>
            • 严禁在平台以不正当目的公布私人联系方式（QQ、微信、手机号等）；请广大用户不要随意添加陌生人QQ、微信等，更不要进行资金交易，谨防诈骗；
        </li>
        <li>
            • 严禁私下买卖平台账号；
        </li>
        <li>
            • 严禁发表反党反政府的言论，或做出侮辱诋毁党和国家的行为；
        </li>
        <li>
            • 严禁对重大政治、军事、经济、社会、文化等活动，事件的实况进行音视频直播；严禁通过本平台对一般社会团体文化活动等组织活动的实况进行音视频直播；
        </li>
        <li>
            • 严禁在本平台开办新闻、综艺、访谈等各类视听节目，不得开办视听节目直播频道；严禁在本平台使用‘电视台’‘广播电台’‘电台’‘TV’等广播电视专有名称开展直播，且禁止直播电影、电视节目等内容；
        </li>
        <li>
            • 严禁军人、警察或其他公职人员着制服直播；
        </li>
        <li>
            • 严禁利用人体缺陷或者以人体变异等方式招俫用户。
        </li>
        <li>
            • 严禁直接或间接传播淫秽，色情信息，或进行低俗、挑逗、着装暴露、性暗示、引诱等表演内容；
        </li>
        <li>
            • 严禁通过任何方式传播毒品、展示枪支、管制道具等；
        </li>
        <li>
            • 严禁通过任何方式宣传或展示打牌、赌博、抽烟、暴力、恐怖内容等；
        </li>
        <li>
            • 严禁冒犯性、羞辱性、歧视性的语言和行为；
        </li>
        <li>
            • 严禁进行各类广告宣传，恶意发布广告的行为，严禁在平台招收主播等损害官方利益行为；
        </li>
        <li>
            • 严禁拍摄、转播其他平台直播内容，严禁偷拍他人的直播行为；
        </li>
        <li>
            • 禁止直播睡觉、挂机、黑屏、画面定格等行为
        </li>
        <li>
            • 严禁未成年人发起直播；
        </li>
        <li>
            • 严禁通过非官方渠道购买本平台克拉，谨防诈骗；
        </li>
        <li>
            • 严禁驾驶直播或与司机有过多互动行为；
        </li>
        <li>
            • 本平台的视频聊天，直播内容适用于文明公约中所有条款；
        </li>
        <li>
            • 基于平台政策，对于正在参与活动用户，因违反公约封号，则其参与的活动均属无效。
        </li>
    </ul>
    <p class="title">三、九不准原则和七条底线</p>
    <ul class="rules">
        <li>
            1. 用户在利用细语的服务时必须符合中国有关法规，不得在细语的网页上或者利用细语服务制作、复制、发布、传播以下信息：
            <ul>
                <li>
                    • 违反宪法确定的基本原则的；
                </li>
                <li>
                    • 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；

                </li>
                <li>
                    • 损害国家荣誉和利益的；

                </li>
                <li>
                    • 煽动民族仇恨、民族歧视，破坏民族团结的；

                </li>
                <li>
                    • 破坏国家宗教政策，宣扬邪教和封建迷信的；

                </li>
                <li>
                    • 散布谣言，扰乱社会秩序，破坏社会稳定的；

                </li>
                <li>
                    • 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；

                </li>
                <li>
                    • 侮辱或者诽谤他人，侵害他人合法权益的；

                </li>
                <li>
                    • 含有法律、行政法规禁止的其他内容的。

                </li>
            </ul>
        </li>
        <li>
            2.用户在利用星光直播的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。不得触及以下七条底线:
            <ul>
                <li>
                    • 法律法规底线

                </li>
                <li>
                    • 社会主义制度底线

                </li>
                <li>
                    • 国家利益底线

                </li>
                <li>
                    • 公民合法权益底线

                </li>
                <li>
                    • 社会公共秩序底线

                </li>
                <li>
                    • 道德风尚底线

                </li>
                <li>
                    • 信息真实性底线
                </li>
            </ul>
        </li>

    </ul>
    <p class="title">四、处罚方法</p>
    <div class="rules">
        <p>
            细语对以上行为实施从严标准，所有主播或用户，如果言论和行为有违反上述内容，将会视情节轻重予以禁言1天、7天、30天、1年，或立即下线、禁播1天、7天、30天、永久封号处理！
        </p>
        <p>
            任何用户都可使用‘举报’按钮对违规主播、用户进行举报。如果发现用户的举报是恶意行为，我们也将对恶意举报、投诉的用户进行相应的处罚。

        </p>

    </div>
    <p class="title">五、温馨提示</p>
    <div class="rules">
        <p>细语官方客服在受理所有平台问题时，绝对不会向用户索要任何额外费用。请大家认准官方指定的客服通道，任何索要费用的或非官方指定的客服均属欺诈行为。欢迎大家的监督举报，点击直播间右上方“！”或者联系客服举报。让我们共同维护绿色健康的细语环境。
        </p>
        <p>
            官方客服联系方式：

        </p>
        <p>
            在app个人页面——点击“联系客服”</p>
        <p class="fr">细语官方团队</p>

    </div>
</article>
