<style>
.pic1 {
    width: 10rem;
    height: 12.435185185185185rem;
    margin: 0 auto;
    display: block;
}
.pic2 {
    width: 10rem;
    height: 12.185185185185185rem;
    margin: 0 auto;
    display: block;
}
</style>

<div id="app">
    <!-- 数据图 -->
    <img class="pic1" src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/user/hwpayAct201902/pic1.jpg')}" alt="picture">
    <img class="pic2" src="${require('../../../../static_guojiang_tv/src/mobile/v2/img/user/hwpayAct201902/pic2.jpg')}" alt="picture">
</div>

<script>
var gjShareParam = JSON.stringify({ // eslint-disable-line
    title: '2019 爱依旧 礼常伴',
    content: '2019 爱依旧 礼常伴',
    link: location.href,
    imgLink: '' // eslint-disable-line
})
</script>
