<div class="wrapper">
    <div class="user-logo"></div>
    <p class="user-num">
        当前有
        <em>4663333694</em>
        人正在直播
    </p>
    <div class="login-block c_clearfix">
        <div class="qq-login"></div>
        <div class="wx-login"></div>
        <div class="wb-login"></div>
    </div>
</div>

