<main id="app" v-cloak>
    <section>
        <article>
            主播开播协议
            <p>
                主播欲使用久久提供的直播技术服务（以下简称“本服务”），必须事先认真阅读、充分理解本协议中各条款，尤其应特别注意免除或者限制久久责任的免责条款及对主播的权利限制条款。如主播不同意本协议，主播应不使用或主动取消久久提供的直播服务。
            </p>
            <p>
                主播有违反本协议的任何行为时，久久有权依照违反情况，单方限制、中止或终止向主播提供本服务，并有权追究主播的相关责任。
            </p>
            <p>
                特别提醒：如是未成年人，请务必在监护人的陪同下阅读本协议。
            </p>
            <p>
                在主播接受本协议之后，此文本可能因国家政策、产品以及履行本协议的环境发生变化而进行修改，修改后的协议发布在久久平台上。修改后的协议公布七日后即视为“久久”已通知主播协议修改内容。若主播对修改后的协议有异议的，请立即停止访问、使用久久直播软件，若主播继续访问或使用，视为对修改后的协议予以认可。
            </p>
        </article>
        <article>
            <h4>一、 总则</h4>
            <p>
                1.1 久久为主播提供直播技术服务。主播作为网络直播发布者，欲在久久平台为平台用户提供在线游戏、娱乐、节目、赛事等网络直播及解说服务。
            </p>
            <p>

                1.2
                签署本协议前，主播承诺已经充分了解久久平台的各项规则及要求，并确认主播有条件与能力履行其职责与义务。主播应根据久久要求提交相关资质材料，且主播在久久平台提供服务期间均视为本协议有效期内，本协议对主播构成有效的，带有约束力的可强制执行的法定义务。
            </p>
            <p>

                1.3 主播承诺并声明在使用久久提供的直播服务时将遵守国家相关法律法规的规定，不得有以下行为：
                <br />
                （1）反对宪法确定的基本原则的；
                <br />
                （2）危害国家统一、主权和领土完整的；
                <br />
                （3）泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；
                <br />
                （4）煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；
                <br />
                （5）宣扬邪教、迷信的；
                <br />
                （6）散布谣言，扰乱社会秩序，破坏社会稳定的；
                <br />
                （7）宣扬淫秽、赌博、暴力或者教唆犯罪的；
                <br />
                （8）侮辱或者诽谤他人，侵害他人合法权益的；
                <br />
                （9）危害社会公德或者民族优秀文化传统的；
                <br />
                （10）有法律、行政法规和国家规定禁止的其他内容的。
            </p>
            <p>

                1.4 本协议的签署，不代表主播与久久之间构成任何劳动法律层面的劳动、劳务、雇佣关系。
            </p>
        </article>
        <article>
            <h4>

                二、服务规则
            </h4>
            <p>

                2.1 久久为主播提供网络直播技术服务、客服支持和久久平台及关联平台的知名度，久久直播不遗余力地推进平台的用户流量提升和技术更新。
            </p>
            <p>

                2.2
                为规范平台运营，保障平台用户的整体利益和用户体验，久久有权根据国家监管部门的要求和运营需要制定、调整平台规则，并以公告、站内信、邮件、微信、久久号、QQ、弹窗等方式通知主播。若主播不接受修改后的相关内容，应当停止使用相关服务。
            </p>
            <p>

                2.3
                久久有权独立对主播进行考察、评审，以决定是否确立或取消对主播的奖励或处罚。具体考察项目及标准由久久另行制定，无需额外征得主播同意。如久久希望与主播就直播事项进行深入合作的，可由双方进行友好协商另行签订线下的纸面合作协议。
            </p>
            <p>

                2.4 久久有权对主播履行其在本协议项下义务的行为提出改进建议和意见，并对主播网络主播活动的方式和内容有最终决定权，主播应严格按照久久的建议和意见提供或调整相关服务。
            </p>
            <p>

                2.5
                如无特别约定，主播在使用久久平台提供的直播服务时，发布上传的文字、图片、音视频以及表演等用户原创的信息，此部分信息的知识产权归用户，但用户的发表、上传行为是对久久平台的授权，用户确认将其发表、上传的信息独占性、永久性地授权给久久，该授权可转授权。久久可将前述信息在久久旗下的平台上使用，可再次编辑后使用，也可以由久久授权给合作方使用。。
            </p>
        </article>
        <article>
            <h4>

                三、 使用规则
            </h4>
            <p>
                3.1 平台禁止未成年人直播。若法定监护人希望未成年人得以提供本协议约定的网络直播及解说服务的，必须以法定监护人身份加以判断该等服务内容是否适合于未成年人，并由法定监护人承担因此而导致的一切后果。
            </p>
            <p>

                3.2 主播应自行承担通过久久平台开展网络直播及解说活动所需的所有语音、视频设备及其他设施，并保证视频图像清晰，语音质量清晰。
            </p>
            <p>

                3.3
                未经久久书面同意，主播在直播及解说过程中不得以任何形式提及、宣传第三方竞品平台的相关信息；不得引导或变相引导久久平台现有用户、其他主播及久久员工进入第三方竞品平台；不得将主播直播间用于其他任何性质的活动（包括但不限于不可提供广告、推介等服务，或从事任何违法行为）；不得在久久平台上设置网络链接信息。
            </p>
            <p>

                3.4 主播同意并授权久久及其关联公司，在本协议有效期内以及期满后，于久久平台的宣传推广渠道和活动上，使用主播的肖像、姓名（包括昵称）、录音、录像、视频以及主播创作的音乐等相关作品。
            </p>
            <p>

                3.5
                主播承诺通过久久平台实施的行为或提供的服务合法、不侵犯第三人的合法权益；主播承诺已通过合法渠道获得游戏软件或视频内容等全部直播及解说所需内容，并有权使用上述内容进行直播、录制等行为；主播承诺与久久开展本协议约定的合作的行为不会侵犯任何第三方的合法权益；主播承诺将严格遵守久久平台的各项运营制度和平台规则，不得使用久久平台从事涉黄、反动等任何违法违纪的活动；不得以网络直播及解说为名义，从事暴力、传销、推销、鼓动诱导性营销等活动。
            </p>
        </article>
        <article>
            <h4>

                四、 保密制度
            </h4>
            <p>

                4.1
                主播应严格遵守久久的保密制度，承诺无限期保守久久的商业秘密。商业秘密是指由久久提供的、或者主播在双方合作期间了解到的、或者久久对其他方承担保密义务的，与久久业务有关的，能为久久带来经济利益，具有实用性的、非公知的所有信息。
            </p>
            <p>

                4.2 主播应严格遵守本协议，未经久久书面授权或同意，对久久的商业秘密不得：
                <br />
                （1）以任何方式向第三方进行传播、泄露（包括暗示）；
                <br />
                （2） 为非本协议的目的而使用。
            </p>
            <p>

                4.3 因主播违反约定使用或披露久久商业秘密使久久遭受任何名誉、声誉或经济上的直接或间接的损失，主播应赔偿久久全部损失。
            </p>
        </article>
        <article>
            <h4>

                五、协议的解除、终止
            </h4>
            <p>

                5.1 因本协议所依据的法律、行政法规、规章或政策发生变化，致使本协议无法继续履行或继续履行有风险的，久久有权单方面终止本协议而无需承担任何法律责任。
            </p>
            <p>

                5.2 久久有权以提前30日书面通知主播的方式终止本协议，而无需就此承担违约责任。
            </p>
            <p>

                5.3 本协议期限届满或双方就解除本协议协商一致的，可终止本协议。
            </p>
            <p>

                5.4 主播有下列情形之一，久久可以解除本协议，不需要提前通知：
                <br>
                （1）主播违反其在本协议项下所做的声明或承诺的；
                <br>
                （2）因主播原因直接或间接给久久利益造成损害的；
                <br>
                （3）违反国家法律法规的；
                <br>
                （4）违反本协议规定的其它义务；
            </p>
        </article>
        <article>
            <h4>

                六、 违约责任
            </h4>
            <p>
                除本协议另有规定外，如因主播的任何不实陈述或保证，或因主播违反本协议项下的义务，或因主播对第三方的侵权行为或违约行为，导致久久面临任何索赔、诉讼或仲裁等要求，或导致久久遭受损失，主播应当采取适当的措施（包括但不限于与该第三方协调解决纠纷），保证久久免受任何索赔、诉讼或仲裁等要求的任何影响和（或）久久所受的损失。
            </p>
        </article>
    </section>
    <!-- <div class="agree_wrap">
        <span id="agree" @click="agree">已阅读并同意</span>
    </div> -->
</main>